[2018-01-30 10:53] NindroidX opened #1 "The example does not work on iOS 11.2"
Pressing the lock button does not prevent the page from scrolling.

[2018-01-30 20:21] willmcpo commented on #1
Hi Nindroid

The use case scenario is that when scrolling is locked (via pressing the lock button in demo),  then scrolling within the target element should prevent the body from scrolling.

This is achieved and tested on iOS 11.

Yes, if you scroll the body directly even when the scrolling is locked (on iOS), the body scrolls - this is not what this package solves (at the moment). It solves the t

[2018-01-31 11:40] #1 closed

[2018-01-31 15:14] NindroidX commented on #1
O, yes I see now! It does indeed work, but I think it would be clearer if the scrollTarget was an actual modal 😄. Making it clearer that scrolling the body directly is not disabled on iOS in the readme is also a good idea though :)

Thanks!

[2018-02-24 21:29] smulder opened #2 ".includes('Safari') is not compatible with Mobile Safari before version 9"
in lib/utils/userAgent.js

https://github.com/willmcpo/body-scroll-lock/blob/20823201b5d084071abf7cf12cf93a864691cd9c/src/utils/userAgent.js#L15

Since this is used to detect user-agents and scroll lock all safari versions I'd assume that the detection for Safari UA would be more backwards compatible.

Can you cage it from getBrsrResult.name.includes('Safari')
to
getBrsrResult.name.indexOf('Safari

[2018-02-24 22:28] smulder opened #4 "Backward compatible code?"
https://github.com/willmcpo/body-scroll-lock/blob/20823201b5d084071abf7cf12cf93a864691cd9c/src/bodyScrollLock.js#L87

This unfortunately does not work on older browsers any interest in making it backward compatible?

[2018-02-26 20:11] stemsmit opened #5 "Demo Not working on Chrome for iOS"
When I was testing the demo site in Chrome for iOS it appears body scroll lock has no effect.

Tested Devices:
iPhone 8 iOS 11.1 Chrome
iPhone 6 iOS 10 Chrome
iPhone 6S Plus iOS 9 Chrome

[2018-02-26 23:15] willmcpo commented on #4
Hi @smulder are you using the transpired code in the `lib` directory?

[2018-02-26 23:17] willmcpo commented on #2
@smulder sure will update when I get a chance later this week. If you need it sooner, feel free to submit a Pull Request

[2018-02-27 01:08] smulder commented on #2
I sent a pull request, but I suck at them so I’m not sure if I closed it and shouldn’t have. If you don’t see it just let me know.

There is also some other “to modern” code in there that will not allow backward compat, but I’m only really coming across this due to testing on browserstack and a lot of the browser versions they have on older hardware are essentially obsolete. So, may be a non issue

[2018-02-27 01:09] smulder commented on #4
I’m not sure, I’ll take a look and post back.

Thanks,
Scott

On Feb 26, 2018, 6:15 PM -0500, Will <notifications@github.com>, wrote:

[2018-02-28 10:42] willmcpo commented on #5
Hi @stemsmit - I'll look into it and get back to you shortly.

[2018-03-03 00:54] willmcpo commented on #5
@bill-feng @stemsmit the issue is fixed in the latest release

[2018-03-03 00:54] #5 closed

[2018-03-03 00:54] willmcpo commented on #4
Haven't heard back from you so I assume the transpiled code is fine.

[2018-03-03 00:54] #4 closed

[2018-03-03 00:56] willmcpo commented on #2
@smulder can you check if the latest release fixes your issue? I am just checking for iOS devices instead of browsers.

[2018-03-06 04:37] willmcpo commented on #2
Assuming the fix resolved your issue. Closing issue.

[2018-03-06 04:37] #2 closed

[2018-04-04 22:52] SimonKlausLudwig opened #6 "Scrollable list in modal view"
Thank you for your awesome work. I have one question. I have an model view with an scrollable list within. With disableBodyScroll(document.querySelector("#modalView")); the body is not scrollable but im not able to scroll in the list within the modal. If a add disableBodyScroll(document.querySelector("#scrollableListInModalView")); to the list in the modal, the list is scrollable and the body is a

[2018-04-04 22:54] willmcpo commented on #6
hey what device/browser is this?

[2018-04-05 01:02] willmcpo commented on #6
can you try calling both `disableBodyScroll(document.querySelector("#modalView"));` and `disableBodyScroll(document.querySelector("#scrollableListInModalView"));` ?

does that work?

even if above does work (aka a workaround), it would be cleaner for disableBodyScroll to be able to accept an array of elements for use cases like yours. If you're able to submit a PR to make that change, that'd be gr

[2018-04-06 14:04] SimonKlausLudwig commented on #6
Nop does not work. But it's okay for me. I thought there would be a simple solution for this problem. But i can live with that.

[2018-04-06 23:51] gabsschneider opened #7 "Calling disableBodyScroll scrolls to the top on the first time and removes scroll listener"
Hi, I am running into an issue with disableBodyScroll.

On the first time I call this method on my target element my page scrolls to the top and after that my window scroll event listener stops being called, I tried adding the listener again after disabling the body scroll but no success, it's like the listener event gets completely blocked. Any ideas why this is happening?

Thank you for the grea

[2018-04-08 12:08] willmcpo commented on #7
Hi @gabsschneider

The package listens for touchmove events. Once the page scrolls to the top/bottom, `preventDefault` is called in the touchmove listener, which I suspect is stopping your window scroll event listener from executing.

A possible way to resolve this is to pass your window scroll event listener as a parameter into the `disableBodyScroll` function, so that it gets called *before* `pr

[2018-04-08 12:10] willmcpo commented on #6
Hi @SimonKlausLudwig - seems like the current logic is working with just 1 scrollable section on the screen at any one time.

For cases like yours where both modal header and list needs to be scrollable, the logic would need to be re-worked slightly (the refactor seems simple enough).

I'll try to get a PR for you to test if it resolves the issue for you (maybe sometime this week).

[2018-04-09 16:01] gabsschneider commented on #7
@willmcpo I figured out what is going on.

The problem is that whenever my body's `overflow` property is set to `auto` it causes some sort of issue with the scroll properties. For instance, if `overflow: auto`, calling `window.scrollTo(left, top)` doesn't work, not even a `listener` for the `scroll` event gets called. I don't have a lot of experience in web development so I don't know why this is

[2018-04-09 23:18] dmngu9 opened #8 "body scroll lock on iOS 11 mobile not working"
As title

[2018-04-10 03:16] willmcpo commented on #8
Hi @dmngu9 , does the demo work for that particular device?

[2018-04-10 09:39] martinkutter opened #9 "Implementation does not reserve the scrollbar width"
Thank you for this easy to use library.
Unfortunately, it doesn't quite fit our application.
The content of our site is centered. If the user opens a popup and we execute "disableBodyScroll", the scrollbar is removed. This makes the body slightly wider than before and the centered elements in the background jump to the right.

In this case it would make sense to reserve the space for the scrollbar

[2018-04-10 11:16] willmcpo commented on #9
hi @martinkutter

thanks for the code - happy for you to create the PR.

Once you create it, I'll try to have it reviewed quickly.

[2018-04-10 13:47] gabsschneider commented on #7
Absolutely @willmcpo

I'm using React to build my website so my index.html looks exactly like the template one. I've been trying to paste some code here but it doesn't get formatted well and sometimes it just doesn't show up, so I will try to explain and paste some chuncks of it.

Since I'm using React, in my index.js file I render my App class which holds all my application. In the App.js render,

[2018-04-11 19:50] gilomen2 commented on #8
@dmngu9 confirming that the demo doesn't work in Safari on iOS 11

[2018-04-11 20:06] FL3NKEY commented on #9
You are welcome.

https://github.com/FL3NKEY/scroll-lock

[2018-04-12 06:05] martinkutter commented on #9
@FL3NKEY thanks for the recommendation. We want to use the library for a large React app, so abstraction is a minimum requirement. However, this is not possible due to the fixed CSS class names. This means that the library cannot simply be replaced later if problems arise.

I'm on my way to the React Conference in Amsterdam/NL. When I get back I'll take care of the PR.

[2018-04-12 08:38] willmcpo commented on #8
I'll investigate thanks all

[2018-04-16 11:40] willmcpo commented on #8
I tested on Safari on iOS 11.3

I do not have an issue with demo not working

[2018-04-16 12:10] willmcpo commented on #7
Hey @gabsschneider

Can you see if https://github.com/willmcpo/body-scroll-lock/pull/11 helps?

`yarn add https://github.com/willmcpo/body-scroll-lock#restore-original-overflow-value`

Basically I restore the original overflow setting instead of forcing it to `auto` on `enableBodyScroll`

[2018-04-16 12:27] willmcpo commented on #7
im also not sure why the body scroll position would reset...hmm

[2018-04-19 19:50] ignism commented on #8
Doesn't work for me, the Demo even fails when trying in Chrome using the device toolbar.

[2018-04-21 05:11] #7 closed

[2018-04-21 05:15] willmcpo commented on #8
@ignism

So when you have the body scroll lock set, when you scroll to the end in the 'Scroll Target', and then you keep scrolling within the 'Scroll Target', it still scrolls the body?

Does the `Caveat` section of the README.md explain what's happening for iOS?

[2018-04-21 08:07] ignism commented on #8
Ah, I see now. I completely misunderstood this package. The body doesn't scroll when im scrolling inside and over de end of the 'scroll target'. I thought it would prevent body scrolling even when I try to scroll the body.

[2018-04-21 11:52] willmcpo commented on #8
👍

Marking issue as resolved then.

[2018-04-21 11:52] #8 closed

[2018-04-25 00:10] sahibalejandro opened #13 "Is this still working?"
I just tried the demo today and is not working on iOS Safari, iOS Chrome, and iOS Firefox.

Am I missing something?

[2018-04-25 07:55] willmcpo commented on #13
Hi @sahibalejandro does the *Caveat* section of the `README.md` explain what's going on for you?

[2018-04-25 14:06] sahibalejandro commented on #13
😅you're right. thanks!

[2018-04-25 14:06] #13 closed

[2018-04-28 12:10] Tobbe commented on #9
Can't wait for the PR. I need this as well! :)
@martinkutter Any progress?

[2018-04-28 14:12] FL3NKEY commented on #9
@martinkutter updated, [check out](https://github.com/FL3NKEY/scroll-lock#hide) 🤗

[2018-04-29 07:05] martinkutter commented on #9
Sorry for the delay. Let me look at the solution from @FL3NKEY next week and I'll get back to you.

[2018-04-29 12:25] willmcpo commented on #9
@martinkutter 👍 let me know how it goes - if you end up not putting a PR through, I'll adapt your suggestion and create a PR for body-scroll-lock.

[2018-05-02 11:44] martinkutter commented on #9
Thanks for your patience 😅. I created a PR. https://github.com/willmcpo/body-scroll-lock/pull/14

[2018-05-02 11:54] FL3NKEY commented on #9
@martinkutter what's the problem using my library?

[2018-05-02 12:48] martinkutter commented on #9
@FL3NKEY As I mentioned before, we use this library in a large React application based on plugins. For example, a normal use case is that one component activates the scrolllock, then a second component is mounted, which also activates the scrolllock. If the first component deactivates the scrolllock, it is not considered that it is still needed by the second component. So I decided to continue usi

[2018-05-02 12:50] FL3NKEY commented on #9
@martinkutter oh, i got it, work at that 🤗

[2018-05-03 06:44] tharakabimal opened #15 "How to enable scrollability for a target element?"
[code]

When the modal is open I disable body scroll for the `content` like so,
`disableBodyScroll(document.querySelector('#content'));`

But this disables the `modal` scrollability only on iOS. Is there a solution for this?

[2018-05-03 07:36] walifaizy commented on #15
Same issue for me , on opening modal i am locking like this

[code]

and disabling when component is unmounted

[code]

But this freezes modal scroll only on iOS`(working fine on Android)`. Any Suggestions :disappointed:?

[2018-05-03 11:06] willmcpo commented on #15
@tharakabimal @walifaizy strange - what iOS version are you using, so I can try to debug?

[2018-05-03 11:16] willmcpo commented on #15
@tharakabimal actually, if it is the modal that you want to keep scrollable, you should be doing:

`disableBodyScroll(document.querySelector('#modal'));`

Would that work?

[2018-05-03 11:38] willmcpo commented on #15
@walifaizy can you show me more of your use case?

[2018-05-03 11:47] willmcpo commented on #9
@martinkutter thanks I've reviewed it and no problems with the delay 👍

[2018-05-03 12:04] tharakabimal commented on #15
@willmcpo `disableBodyScroll(document.querySelector('#modal'));` works perfectly on `Android` but not on `iOS`. I am testing on a `iPhone 5s`, `iOS - 11.3(15E216)`

[2018-05-03 12:08] willmcpo commented on #15
@tharakabimal does the demo work as expected for you? As in, the scroll target still scrolls for ios after you've hit the `Disable Scroll` button in the demo?

[2018-05-03 12:25] tharakabimal commented on #15
@willmcpo yes the demo work as expected 😞.

[2018-05-03 12:26] willmcpo commented on #15
can you share more of your code so i can better understand your usage?

[2018-05-04 05:47] HyunSeob opened #16 "If I disable the body scroll twice, I can't enable the body scroll anymore."
Thanks for your awesome project! I really like your package.

I got some problem which is not important, but sometimes inconvenient. When I disable the body scroll twice times, I can't enable the body scroll anymore. Is this intentional? I think it seems weird.

I've made a reproduction of this. You can see it from the following link:
https://codesandbox.io/s/0172yjr8n

Thank you in advance.

[2018-05-05 06:45] #16 closed

[2018-05-05 06:50] willmcpo commented on #16
It should be fixed in recent PR. Please upgrade package to 2.4.0.

Hope that helps.

[2018-05-05 06:59] willmcpo commented on #15
@tharakabimal ill try to check it out this week, thanks for that

[2018-05-05 08:26] PolHaghverdian opened #17 ""SyntaxError: unexpected token""
Hi,

Am getting "SyntaxError: unexpected token: identifier"  on row `"type HandleScrollEvent = TouchEvent;"` on the bodyScrollLock.js script when importing it script(src='/public/lib/bodyScrollLock.js')

[2018-05-05 10:50] willmcpo commented on #17
use `npm i body-scroll-lock` or `yarn add body-scroll-lock`

[2018-05-05 11:06] PolHaghverdian commented on #17
I have already download the package. But i need to use it in browser.  I cant simply add it in the HTML script ?

[2018-05-05 11:40] PolHaghverdian commented on #17
Now i used as i said and download the package trough npm. now i get:

"ReferenceError: exports is not defined"

[code]

[2018-05-05 20:52] willmcpo commented on #17
Then when you use it in code, import like:

`var bodyScrollLock = require('body-scroll-lock');`

Refer to examples

[2018-05-14 07:01] tharakabimal commented on #15
Hi, @willmcpo any luck with this issue?

[2018-05-14 07:02] willmcpo commented on #15
Sorry, will try to have a look tomorrow, been quite busy

[2018-05-14 16:59] stephenarifin opened #18 "Does this work for iframes?"
I am trying to use your package for an iframe overlay and it doesn't seem to work. The body is still scrollable even after calling bodyScrollLock.disableBodyScroll(iframe) with the iframe as the target.

Am I missing anything? I can provide a repro

[2018-05-15 03:35] willmcpo commented on #15
where you have

[code]

in `slidingModal.js`,

does it work if you do `this.targetElement = document.querySelector('.slidingModalContent')`  instead?

i havent got an iphone with me at the moment. Should be able to get one later to confirm on my end.

[2018-05-15 13:01] tharakabimal commented on #15
I'll give this a try. Thanks.

[2018-05-17 02:26] kirbudnik opened #19 "Typescript Support"
Is there any support for typescript?

[2018-05-17 10:44] tharakabimal commented on #15
Hey, @willmcpo this did not solve the issue.

[2018-05-18 01:49] willmcpo commented on #19
there are no plans to - if you want to add support, having for you to add it 👍

[2018-05-24 06:56] RoberMac opened #20 "Scroll to top whem `disableBodyScroll` is called ?"
I call `disableBodyScroll` after Modal was popup, but the webpage was scroll to top.

Seem it was caused by adding `overflow: hidden;` to `<html>` https://github.com/willmcpo/body-scroll-lock/blob/master/src/bodyScrollLock.js#L50. Could it be removed ?

[2018-05-24 20:55] willmcpo commented on #20
hi @RoberMac - which browser(s) is this happening on?

[2018-05-25 01:59] RoberMac commented on #20
Chrome 67.0.3396.48 (Official Build) beta (64-bit)

But it's not browser-related issue, it's `overflow: hidden` in `<html>`.

[2018-05-30 07:31] adrienharnay commented on #20
Hey, I have found that adding `overflow: hidden` to both the `html` and `body` tags cause the page to scroll to top. Adding to either one of both does not produce this outcome.

[2018-05-31 05:11] #20 closed

[2018-05-31 11:17] willmcpo commented on #15
@tharakabimal sorry for the lack in response - I had been quite busy - will try again to investigate this further tomorrow

[2018-06-03 07:13] Egoscio commented on #19
This is my first attempt at making an external TypeScript definition, so bear with me.
[code]
I can make a pull request if needed.

[2018-06-03 18:47] kirbudnik commented on #19
Thanks @Egoscio

[2018-06-03 18:47] #19 closed

[2018-06-12 12:31] BoizZ opened #23 "Does not work in Safari"

[2018-06-14 19:04] dashed commented on #15
@tharakabimal @willmcpo

I ran into this; and I'm resolving this by doing (unsure if this is the best solution):

[code]

The `scrollparent` module is from: https://github.com/olahol/scrollparent.js/

[2018-06-18 22:06] willmcpo commented on #23
Hi @BoizZ

Does the caveat section in the readme help explain?

[2018-06-20 20:42] HHGB12 commented on #23
Hi, thanks a lot for  bodyscroll !
I'm not 100% fine with, but i will.
i actually trying to use it with webpack and i have some difficulties.
I haven't install react inside my rails app so I wonder whether if it's necessary ?
for instance i have that code inside the bodyscrollblock and i would like to know if i'm doing right .
Hope that you'll figure out the problem, cause it's not working , the b

[2018-07-03 00:01] kevincpan opened #24 "Does not work with Firefox Focus on Android"
Firefox Focus seems to have the same behavior as iOS. `isIosDevice` isn't true since it is on Android, thus you can still scroll. Need to add a user agent check for firefox focus.

[2018-07-04 11:39] willmcpo commented on #24
Thanks for raising the issue @kevincpan!

I don't immediately have time to look at adding this in, but feel free to add an update for it!

[2018-07-05 20:24] sandeepsahoogirik opened #25 "DOes not work in latest ios"
Hi
This does not seems to work in Iphone safari - latest ios.
We have a similar code and it seems to have the same issue.
When I try this on my laptop it works without any issue and so does my code but in iOS it does not seem to work.
Kind Regards
Sandeep

[2018-07-05 21:28] sandeepsahoogirik commented on #25
Got it to work  I replaced the following
$(document).on('touchmove', function (e) {
if (e.target.tagName == "CANVAS") {
		        e.preventDefault();
		    }
}
with
window.addEventListener('touchmove', function (e) {
		    if (e.target.tagName == "CANVAS") {
		        e.preventDefault();
		    }
 }, { passive: false });

The passive false is imp.

Basically the call is

window.addEventListener('to

[2018-07-09 08:00] SergeyLukashov commented on #25
Hi,
I faced the same issue for latest iOS. Even `{ passive: false }` for event listener doesn't seem to work to me. Is there another workaround?

[2018-07-09 11:07] sandeepsahoogirik commented on #25
Hi
Please note the only way I was able to get this to work was to add the event listener on the window object
window.addEventListener

It does not work where I use the "document"

Kind Regards
Sandeep

[2018-07-09 13:10] SergeyLukashov commented on #25
Thanks Sandeep! That may be the cause - will try it.

[2018-07-25 09:12] skarakash commented on #25
so is this fixed for ios 11> ?

[2018-07-25 09:15] sandeepsahoogirik commented on #25
It did for our project.
You can check the pages we are using this on

https://www.oka.com/cushion-arranger/

Kind Regards
Sandeep

[2018-07-30 22:14] #23 closed

[2018-07-30 22:15] willmcpo commented on #25
Closing issue as it appears the latest ios > 11 fixed the issue.

[2018-07-30 22:15] #25 closed

[2018-07-30 22:28] willmcpo commented on #25
@inkquery not without some work on your end.

To do what you want, you first need to download npm/yarn =).  But after that, just fork/clone the repo, then run `yarn build`. Then grab the file with the compiled javascript code, make some mods to expose the logic globally....

As its open source, feel free to do above, as long as credit is provided where due =)

[2018-07-30 22:29] willmcpo commented on #18
Closing due to lack of response.

[2018-07-30 22:29] #18 closed

[2018-08-02 12:37] arechsteiner opened #26 "How to use this without npm or require?"
This project looks useful but overly burdensome to install.

On the risk of loosing my front-end hipster creds: I don't want to use npm or yarn or require for my simple website project. All I want is to include a js file with a script tag and use this functionality. Is that possible?

[2018-08-07 22:20] willmcpo commented on #26
Well I can add this in. Won't be immediately though due to other commitments. Feel free also to submit your own PR with this

[2018-08-07 22:24] willmcpo commented on #26
Also I'll have to host the script somewhere after that's done. That's not ideal.

I would say if you use yarn your hipster creds are enhanced 😀

[2018-08-08 08:36] arechsteiner commented on #26
I didn't mean to ask for a hosted version, I just mean a `dist` folder in the project with a `.min.js` file that can just be included with a script tag and doesn't depend on `require` or `exports`.

The npm / yarn is not the problem, although you could provide a release on GitHub to download a zip file as an alternative. What makes it hard for me to use is that your Vanilla JS example uses `requir

[2018-08-08 08:41] arechsteiner opened #27 "Doesn't work on iOs 9+"
I couldn't get this to work on my project so I started testing the example provided.

It seems that the body scroll lock does not work on iOS 9 and above, including the current 11. It works on iOS 8.

[2018-08-09 20:56] Neddz commented on #27
I can confirm this does not work on iOS 11+ I tried it on a friend's device.

This might be related to events registering passively by default, I saw that here:

https://stackoverflow.com/questions/49500339/cant-prevent-touchmove-from-scrolling-window-on-ios

I don't have an iOS device so I can't test if this works.

[2018-08-09 23:54] simshanith commented on #27
Need to switch from assigning to `ontouchmove` to [`EventTarget.addEventListener`](https://caniuse.com/#feat=addeventlistener) with `{passive: false}`

Wish I could use this today

[2018-08-10 06:01] Neddz commented on #27
Sim's solution didn't work for me so I am proposing a new one.

The problem is that the body is passive so it allows scrolling on it even if the `targetElement` is shown as it is not waiting for a `preventDefault()` before scrolling.

What I did was to change the document `touchdown` listener so it does not allow scrolling while stopping the propagation from the `targetElement` so it is not affect

[2018-08-10 16:58] processprocess opened #30 "Doesn't work on ie11"
I could be wrong... Or am a missing something?

[2018-08-10 17:07] processprocess commented on #30
nm it does! it was a side effect of something else.
Thank you for your great library!!!

[2018-08-10 17:07] #30 closed

[2018-08-13 06:32] willpox commented on #26
Hi @arechsteiner - yes requires is not pure vanilla JS (sorry about that)

I can definitely work on getting that min file created as part of the repo.

[2018-08-13 07:31] #27 closed

[2018-08-13 07:32] willmcpo commented on #26
(willpox is my separate github account)

as mentioned, will work on it =)

[2018-08-14 01:52] willmcpo commented on #26
Resolved in https://github.com/willmcpo/body-scroll-lock/pull/31

[2018-08-14 01:52] #26 closed

[2018-08-14 01:52] willmcpo commented on #24
Closing due to inactivity (re-open if you feel the need to).

[2018-08-14 01:53] willmcpo commented on #15
Closing due to inactivity (re-open if you feel the need to).

[2018-08-14 01:53] #15 closed

[2018-08-14 01:53] willmcpo commented on #6
Closing due to inactivity (re-open if you feel the need to).

[2018-08-14 01:53] #6 closed

[2018-08-14 01:58] willmcpo commented on #27
Published as 2.5.1

[2018-08-22 04:09] dcurletti opened #32 "null is not an object (evaluating 'e.ontouchstart=null')"
`null is not an object (evaluating 'e.ontouchstart=null')` on

- Mobile Safari 10.0, ios 10.3.3

- Chrome Mobile iOS 68.0.3440, iOS 11.4.1

[2018-08-22 04:30] #32 closed

[2018-08-28 21:26] chrismadrigal opened #33 "Click events inside scrollable target doesn't work"
Click events inside scrollable target container trigger an error
![image](https://user-images.githubusercontent.com/841448/44751694-be265180-aacd-11e8-9d69-91e6eec96edd.png)

Here is a Vue component example:
[code]

[2018-08-28 23:42] willmcpo commented on #33
Should be an easy fix. Might not get to fixing it immediately though, maybe next week.

Otherwise feel free to submit a pull request.

[2018-08-29 16:32] chrismadrigal commented on #33
Thanks @willmcpo.

[2018-08-31 20:24] danielvonmitschke opened #34 "Allow pinching while scrolling is disabled"
Hi,
great little plugin. Thank you.
But would it be possible to allow pinching (zooming with two fingers)?
That would be great.

[2018-08-31 20:42] willmcpo commented on #34
Thanks 👍

@danielvonmitschke yeh sounds good. At this stage though, I am quite busy so won't get around to doing it in the near future.

Would love for you to submit a PR for it?

[2018-09-02 12:37] danielvonmitschke commented on #34
https://github.com/willmcpo/body-scroll-lock/pull/35

This will prevent scrolling (with one finger) but will allow multitouch gestures.
I think this is the best way to mimic the behavior of overflow:hidden on non-iOS-devices.

[2018-09-05 14:18] richgcook opened #36 "Multiple targetElements"
I'm attempting to select a few `targetElement`s which can be scrollable when `disableBodyScroll` is enabled.

A few tests below and for some reason when I have either more than one class/ID either stated in the const or in the DOM, it no longer allows scrolling in those sections.

[code]

If I select just one element then it works fine but in my case I need to set a few (rather than having to crea

[2018-09-05 14:59] gavin310 commented on #33
@chrismadrigal is that an iOS emulator you're using? Do you have a URL for it? Thanks

[2018-09-06 06:46] diachedelic opened #37 "Include source map in NPM package"
It's frustrating being unable to step into the methods exposed by this module, could either the source or a source map be included in the package?

[2018-09-06 08:50] willmcpo commented on #37
Agreed. Will look into it as part the next updates.

On Thu, Sep 6, 2018, 4:46 PM diachedelic <notifications@github.com> wrote:

[2018-09-07 12:50] GoOz opened #38 "iOS 9 don't scroll within the overlay"
Hey there, I stumbled upon an issue while testing body-scroll-lock.

It works well with iOS 10+ but when I test it on iOS 9 (I didn't test on other older versions), the body in the background doesn't scroll but neither is the content of my overlay, which is problematic.
You can see it on your demo page as well.

I don't know if it's possible to fix or not, but if not wouldn't it be better to just

[2018-09-11 09:27] tomdohnal commented on #38
Are you sure that when you call the `disableBodyScroll` function with the `div` that is actually scrollable as the parameter?

I had a similar issue and discovered that I was passing the `div` that was wrapping the entire modal instead of the `div` that was actually scrollable.

[2018-09-11 10:06] GoOz commented on #38
I'm pretty sure, yeah.

Anyway you can see the bug on [the demo page](https://bodyscrolllock.now.sh/), I guess it's well used there.

[2018-09-13 04:48] sectsect commented on #38
I have same problem on iOS 9.

[2018-09-13 11:37] Joelgullander commented on #32
Did you find a solution to this? I have the same problem.

[2018-09-14 05:10] dcurletti commented on #32
I was getting the error I was calling `enableBodyScroll(target)` with a `target` that was no longer in the DOM.

[2018-09-16 00:28] willmcpo commented on #38
@GoOz

I dont have access to an ios9 device unfortunately. I will add an exception for ios9 in the next update which is due very soon.

Feel free to have a go at trying to fix for ios9 otherwise bsl will be disabled for these devices.

[2018-09-17 08:06] GoOz commented on #38
@willmcpo I don't have one either, but you can see the bug on a iOS 9 simulator if you are on a mac and have Xcode installed, if it's any help.

Thanks for disabling for now though. :)

[2018-09-19 00:40] rafaelkapela opened #39 "Error on iOS 12"
disableBodyScroll(targetElement) doesn't work :(

[2018-09-19 04:14] diachedelic opened #40 "Incompatible with Leaflet.js"
[Leaflet.js](https://leafletjs.com/) is a library for interactive maps (like Google Maps).  A map to properly pan, it needs to be able to listen to `touchmove` events.  If an element containing a Leaflet map has had `disableBodyScroll()` applied, panning becomes temperamental.

This is an issue for all elements which handle `touchmove` events, but do not necessarily scroll up & down (for instance,

[2018-09-19 13:51] radum opened #43 "Overflow to HTML instead of BODY or both"
This doesn't work unless we set overflow to the HTML instead of BODY.

Am I missing anything?

[2018-09-19 14:18] radum commented on #43
NVM I was just being stupid, I already had a css on html to set the overflow so this is why it didn't work :)

[2018-09-19 14:18] #43 closed

[2018-09-23 18:49] LarsDenBakker opened #44 "Ship module version"
I'm using native es modules, which are supported by all modern browsers now. Is it possible to publish an es module version of your code. So basically your source code without the type annotations. :)

[2018-10-01 12:18] equinusocio commented on #39
It works on my iPhone X with iOS 12..

[2018-10-01 16:14] PeterLyshak opened #48 "Doesn't work in Safari iOS 11.3"
Hello, thanks for this plugin.

Scroll lock doesn't work in safari ios 11.3.

Link - https://peterlyshak.github.io/park-legend/dist/

Modal opens in the bottom:
<img width="595" alt="2018-10-01 19 13 37" src="https://user-images.githubusercontent.com/22798834/46301152-34771180-c5ae-11e8-98a1-004dd15754fb.png">

[2018-10-02 06:46] willmcpo commented on #40
I'm not seeing the picture as to why the element containing Leaflet map has the `disableBodyScroll` applied - perhaps it would become clear to me if you let me know what would happen if you don't have `disableBodyScroll` applied to such an element?

[2018-10-02 07:09] #38 closed

[2018-10-02 07:28] #44 closed

[2018-10-02 07:39] #37 closed

[2018-10-02 07:39] #34 closed

[2018-10-02 07:40] willmcpo commented on #39
what is the error? Screenshots?

[2018-10-02 07:41] diachedelic commented on #40
The leaflet map is within a fixed-position modal, which has `disableBodyScroll` applied to it.

[2018-10-02 07:42] diachedelic commented on #40
If I do not apply `disableBodyScroll`, scrolling the modal becomes temperamental on iOS.

[2018-10-02 07:45] diachedelic commented on #40
![image](https://user-images.githubusercontent.com/310464/46335478-f3910280-c66a-11e8-8f94-6775db3c6b07.png)

[2018-10-02 07:47] diachedelic commented on #40
But note the **description** textarea, that also fails to scroll when `disableBodyScroll` is applied to the containing modal (and is has sufficient text in it)

[2018-10-02 07:48] diachedelic commented on #40
And the `input[type=range]` sliders also refuse to move (most of the time...)

[2018-10-02 12:04] yannickoo commented on #39
I also couldn't reproduce that one on 📱 with latest iOS.

[2018-10-02 14:08] sectsect opened #50 "Problem on v2.5.8"
In v2.5.8, I got a error on IE11.
Loading with Common JS seems to load the ESM file `es/bodyScrollLock.js`.

(Related #44 )

Thanks.

[2018-10-02 21:02] willmcpo commented on #50
Can you share a code snippet of how it's loaded? Thank you

[2018-10-02 22:01] willmcpo commented on #48
@thismarcoantonio

I'm not sure if the demo is the use case this library supports.

Typically, you supply an element to the disableBodyScroll function that you want to keep scrolling. What this will do also is lock the body scroll.

In your demo, I noticed you passed the document body in to the function. I've not tested this usage... but to interpret what this usage is saying is, you want to make

[2018-10-02 22:02] willmcpo commented on #48
@peterlyshak

Can you share a codepen or codesandbox snippet?

[2018-10-03 03:04] thismarcoantonio commented on #48
@willmcpo when I pass document.body to the function, it prevents body from scrolling in desktop and android (Tested on chrome). When I try to disable scrolling in ios with the same demo, it does not work.

About passing the element down, `document.body` will return body element, same as `document.querySelector('body')`.

I'll test this demo without arguments soon, then I'll post feedback here.

[2018-10-03 05:20] sectsect commented on #50
@willmcpo

Please check the following.

[code]
## 📌FYI
If I delete the following line, it works fine.
Or change the path to `lib / bodyScrollLock.min.js`.
It seems that the `"module"` property overwrites `"main"`.

https://github.com/willmcpo/body-scroll-lock/blob/079363b83def5a32b94468058940e83789713604/package.json#L6

[2018-10-03 05:57] knanduri commented on #39
Works for me too on iphone X with IOS12

[2018-10-03 06:54] PeterLyshak commented on #48
@willmcpo I can give you access to my github repository, because it's a big html landing page.

Added, https://github.com/PeterLyshak/park-legend

[2018-10-03 08:02] willmcpo commented on #50
Ok I'll look into it tomorrow perhaps. Sorry about that one

[2018-10-04 09:06] mporkola opened #51 "window reference introduced in 2.5.8 crashes Node"
Hi, and thanks for this lib!

The reference to `window` introduced in https://github.com/willmcpo/body-scroll-lock/pull/45 crashes Node when e.g. server rendering. Yes, it could be avoided by dynamically importing `body-scroll-lock` only on browser, but I believe it would make sense to just guard against this with a `typeof window` check or something similar.

I could make a PR next week. I guess

[2018-10-04 11:29] willmcpo commented on #51
Makes sense Nikko. Happy for you to submit a PR.

Thanks

On Thu, Oct 4, 2018, 7:06 PM Mikko Porkola <notifications@github.com> wrote:

[2018-10-04 15:54] p3v9d5ui opened #52 "Working on iOS with Cordova + Vue.js?"
This doesn't seem to work in a Cordova + Vue.js environment, while running on iOS. When I run in a browser (FF), it works fine, but on iOS, there is no effect at all.

Any ideas?

[2018-10-05 01:55] willpox commented on #51
Fixed

[2018-10-05 02:02] #51 closed

[2018-10-05 02:02] #50 closed

[2018-10-05 02:04] willmcpo commented on #44
@LarsDenBakker due to #50 , can you import the module version by specifying the path to `bodyScrollLock.es6.js`?

eg `import bsl from 'body-scroll-lock/bodyScrollLock.es6.js'` ?

[2018-10-05 06:35] LarsDenBakker commented on #44
That can work too. I'm surprised that the module field overwrites main when the consumer doesn't want the module variant.

[2018-10-05 22:44] bpGusar opened #53 "Declaration file?"
Declaration file?

[2018-10-08 10:54] MarsCaiWORD commented on #39
me to , but no errors

[2018-10-09 20:09] willmcpo commented on #39
For those experiencing this problem, it would be helpful if I could get some assistance in diagnosing the issue as I don't currently have an iOS 12 device that is having this issue.

[2018-10-11 05:53] mark-bucknell commented on #39
It works until someone does a two finger scroll

[2018-10-17 14:27] y-lohse opened #54 "Issues when reverting the overflow value"
Hi, and thanks for your work on this package!

We ran into a problem while using it though. When the locks are removed, [the `overflow` value of the `body` is reset](https://github.com/willmcpo/body-scroll-lock/blob/master/src/bodyScrollLock.js#L83) to whatever it was earlier. But sometimes that earlier value is wrong by the time the lock needs to be removed.

I made [a small codepen example](http

[2018-10-20 15:06] kokers commented on #39
Yes, there is a two finger scroll issue, for iOS, but it's also for 11.x versions. Not only for 12. Simply use two fingers and locked content will be all over the place.

[2018-10-21 11:08] willmcpo commented on #39
There was a recent change that made the assumption that if there are 2 fingers used, take it as if it was a *pinching* gesture. See https://github.com/willmcpo/body-scroll-lock/pull/35.

Can't cater for all unfortunately - perhaps we should allow the pinching/zoom functionality opt-in ?

I'd be happy to review a PR for this - won't be able to assist with a fix until a little later.

[2018-10-21 11:10] willmcpo commented on #54
I'm not sure I quite get your proposal - perhaps you can submit a PR first to help make it clearer for me?

Also, it seems from initial impression that the more robust solution (rather than adding flexibility/configurability to the library) would be to ensure the earlier value was not wrong in the first place?

[2018-10-21 11:11] willmcpo commented on #53
Hey - sounds good - I'm not the most well versed with typescript, so it would take time for me. I'd be happy to review a PR for this though.

[2018-10-22 15:17] kokers commented on #39
That might be it. I think that making this as an opt-in option would be great solution, gonna try to cook something.

[2018-10-23 02:52] focussing commented on #52
I experience the same problem, any news on this?
This is the first really working module :)

My application is not a Cordova project but a Vue-CLI3 project, header and footer are locked (no elastic effects anymore), the main content between header and footer is scrolling. On iOS 12 the main content shows a scrollbar but it does not scroll...

On Android it works okay.

[2018-10-23 10:58] p3v9d5ui commented on #52
Hi @focussing , I raised the same issue for the separate "scroll-lock" library, and it was fixed there:

https://github.com/FL3NKEY/scroll-lock/issues/1

Perhaps the maintainers can use the same solution for this library, or you could try that one.

Best,

[2018-10-23 15:29] focussing commented on #52
Hi @p3v9d5ui , thank you for your input!
@willmcpo could you use the solution for this plugin as well?

[2018-10-25 19:09] fzembow opened #55 "targetElement should be optional"
I don't agree with the current behavior (at least in iOS simulator) where `disableBodyScroll` does not work if you don't provide a targetElement

It should either:

1. Error when a targetElement is not provided, warning the developer that one is required
2. (_better_): Allow a null targetElement, wherein everything is prevented from scrolling.

[2018-10-26 12:32] aaronstezycki commented on #36
Is there any update to this ?

[2018-10-26 13:50] drpiou opened #56 "Doesn't work on Android"
Hi, I try to use body-scroll-lock for the website I'm currently developing but I can that on my Android with Chrome 70.0.3538.64 it simply doesn't work.

However, if I add `overflow: hidden` to the `html` tag instead of the `body`, it works.
I still have to make a few tests to make sure I don't have to switch between the `body` and the `html` for cross-browser compatibility but I'll go with that f

[2018-11-01 14:57] thomaswoj opened #58 "Disabling Body Scroll on 'touchstart'"
Hi,

I am looking to implement this when using the 'touchstart' rather than click.

Is this currently supported? As it doesn't seem to work for me on iOS safari?

Kind regards,

Tom

[2018-11-02 20:11] adrienharnay opened #59 "enableBodyScroll doesn't work on Chrome mobile "toggle device toolbar""
Hey,

enableBodyScroll doesn't work when I'm testing mobile from Chrome (developer console, then second icon on the top-left corner).

Maybe it has to do with the recent iOS 9 fixes?

Thanks a lot for this awesome library!

[2018-11-04 11:22] iangray001 opened #60 "The script tab cannot be self-closing"
The README here, and on [npmjs](https://www.npmjs.com/package/body-scroll-loc) both tell the user to include the script using a self-closing tag:

This doesn't work, and should be `<script src=...></script>`.

[2018-11-04 12:55] adrienharnay commented on #59
Actually my test was flawed, sorry for the inconvenience!

[2018-11-04 12:55] #59 closed

[2018-11-05 18:32] Jokero commented on #55
Totally agree. Having mandatory targetElement looks very unintuitive

[2018-11-07 20:58] Jokero opened #61 "Does not work well with horizontal scroll is iOS Safari"
When body scroll is locked, target element with horizontal scroll is scrolled very jerky, it's frozen at random moments. There is no such issue in Chrome.
I tried with your demo, just changed the width of target element and its child.

[2018-11-08 13:01] delrueba opened #62 "Lock scrolling of parent modal"
Hello,

as I understand it, it's only possible to add a scroll lock to the body.
We have a situation where there is a child modal so I would like to lock it's parent instead of the body (being already locked at that point)

What I do in our own (not working on ios) code is search for an optional parentNode with queryselector and lock/release either that one or the body.

Would this be possible in

[2018-11-09 12:19] olsp opened #63 "Get current status"
Hello,

I have an issue where the body can be scrolled again, as soon as I open the submenu (a class is added to the body tag). I would like to find out what is going here and therefore it would come in handy to be able to read the current status - I mean if bodyScroll is disabled or not. I haven't found any possibility to do this right now.

Thanks for your help!

[2018-11-09 21:34] LarsDenBakker opened #64 "Incorrect assumption when to enable scrolling"
Enabling scrolling is done based on whether the firstTargetElement was enabled. This is incorrect as the first element could be finished and allow scrolling while other elements still need the blocking.

For example:
- Dialog A opens, calls disableBodyScroll() and becomes firstTargetElement
- Dialog B opens, calls disableBodyScroll()

- Dialog A closes, calls enableBodyScroll() and matches firstTa

[2018-11-10 15:20] SpencerBriereWEQ opened #66 "Momentum scrolling does not work on iOS"
I'm using create-react-app and have called disableBodyScroll on document.querySelector('#root'). Where root has style="height: 100vh; width: 100vw; overflow: auto;". This does seem to work well on Android and Desktop. It also resolves the issue on iOS with the background image scrolling with the content.

My issue is that when a scrolling action has begun and is released, scrolling comes to a dead

[2018-11-10 15:52] #66 closed

[2018-11-10 15:52] SpencerBriereWEQ commented on #66
After disabling body-scroll-lock entirely the issue persists. There must be something about my implementation.

[2018-11-15 11:38] #60 closed

[2018-11-15 11:40] willmcpo commented on #58
I'm not sure i get your use case. `touchstart` on what element exactly?

[2018-11-15 11:41] willmcpo commented on #40
Fixed in #41

[2018-11-15 11:41] #40 closed

[2018-11-15 11:44] willmcpo commented on #52
Hi all - would someone mind submitting a PR? I've not got a project with a Cordova Vue environment, so it'd be harder for me to understand the issue, and or how to resolve!

[2018-11-15 11:47] willmcpo commented on #36
Hi @richgcook @aaronstezycki - at the moment, I'm on other priorities, but if this is something that's pressing for your applications, I am happy and more likely to review your PRs for this improvement. =)

[2018-11-15 11:52] willmcpo commented on #55
A target element needs to be provided particularly for ios - the purpose of this library is to lock the background whilst maintaining scrollability of a `targetElement`.

I will instead add a warning

[2018-11-15 12:07] willmcpo commented on #62
Sure - if you are happy to send a PR, we can check it out 👍

[2018-11-15 12:15] willmcpo commented on #33
@chrismadrigal sorry - this is still an issue i presume?

[2018-11-15 18:15] chrismadrigal commented on #33
@willmcpo I stopped using the library as it was a deal breaker for me but I'm assuming is still an issue.

[2018-11-15 18:41] fzembow commented on #55
Yeah. I really appreciate that targetElement exists, for things like side navs whose content might overflow, but I had a use case where I was just overlaying a modal with a single, centered piece of text, and I specifically did _not_ want it to be scrollable.

Sure, I'll put together a PR this evening :)

[2018-11-15 19:56] willmcpo commented on #55
Great - that'd be awesome, thank you.

On Fri, Nov 16, 2018, 5:41 AM Fil Zembowicz <notifications@github.com>
wrote:

[2018-11-15 20:02] willmcpo commented on #33
Perhaps - I am soon to publish a change that may or may not affect t your issue. To understand further I just need to understand what the flow is with your code.

What is the value of scrollTarget at the point of clicking X? If it is undefined, why was it undefined at the point of clicking X?

[2018-11-15 20:53] willmcpo commented on #39
If anyone is able to submit a PR, that'd be great. Sorry I can't get to this in the short term (babies kids etc). 😦

[2018-11-16 19:14] maeertin opened #74 "Calling enableBodyScroll can disable body scroll depending on situation"
Hey there, thank you for this cool library.

So the issue can be reproduced with the code below:
[code]

In my case, I'm using material-ui where it's Dialog component already handles setting/removing of `overflow: hidden` on `document.body` and therefore end up in a similar situation as above. Sadly this css trick alone does not cancel scrolling on iOS and was hoping to use this library.

[2018-11-16 20:42] willmcpo commented on #74
So the problem is you don't want the original setting to be reatored when
you call enableBodyScroll?

If that's the case, we could pass a flag to enableBodyScroll to instruct it
to not restore settings saved when disabledBodyScroll was called.

Thoughts? PR welcome as well!

On Sat, Nov 17, 2018, 6:14 AM Martin Barri <notifications@github.com> wrote:

[2018-11-19 11:18] maeertin commented on #74
Hey, thanks @willmcpo for the quick response!

**Elaborating on my scenario**
So I did some more digging into this and there seems to have been more to it then I thought. So the problem starts already when I call `disableBodyScroll` as this will set the restore values that you mention. In my case these saved restore values are incorrect due to material-ui/Dialog setting `overflow: hidden` to `docu

[2018-11-19 15:18] maeertin commented on #74
Since this is a compatibility issue with handling of `overflow: hidden` on `document.body`, another solution would be to let lib users opt in/out of the css/js solutions of scroll canceling.

[2018-11-19 16:44] maeertin commented on #74
I see that you already forward the `options` object to the function `setOverflowHidden`. What if this function was updated to something like below to allow control of the restore values.

[code]

[2018-11-20 01:52] Sexual opened #75 "iOS and Iframes"
On iOS, if you `disableBodyScroll(iframe)` and scroll on the iframe, the body will still scroll and the iframe won't.

[2018-11-20 20:36] #64 closed

[2018-11-20 20:56] willmcpo commented on #74
from a quick glimpse, seems ok and intuitive.

would you mind putting that in a PR ? =) 👍

[2018-11-20 20:58] willmcpo opened #76 "By default, should children elements within Locked elements be allowed touch move?"
Referring to a comment by @liamcmitchell-sc ,

If this is up-voted, happy for this to be done

[2018-11-21 06:08] diachedelic commented on #76
Letting child elements scroll reintroduces [this iOS scroll bug](https://github.com/scottjehl/Device-Bugs/issues/14), that body-scroll-lock addresses.

In this screenshot, I am scrolling inside the `textarea`, and you can see it is causing the bottom of the viewport to be cut off because the body is scrolling:
![screen shot 2018-11-21 at 5 01 22 pm](https://user-images.githubusercontent.com/310464

[2018-11-21 20:36] willmcpo commented on #75
Yeh IFrames - it is probably tricky to get it working with IFrames. Not saying impossible but I suspect some cross parent Child frame post messaging is needed to get it working for IFrames.

Anyone up for a challenge to submit a PR for this?

[2018-11-21 21:15] LarsDenBakker commented on #75
The ios specific code is already growing quite a bit. Id be careful of further growth for edge cases, or make them opt in(without increasing lib size for users that dont want these functionalities).

[2018-11-21 21:36] Sexual commented on #75
What do you suspect needs to be done in the iframe to require post messaging? I'll try experiment a little bit and see if it's as simple as running `disableBodyScroll` inside the iframe and in the parent

[2018-11-22 08:56] willmcpo commented on #75
Well post messaging because it seems like parent window or vice versa needs
to know what the other is doing...could be wrong..yeh nice check it out if
you get a chance!

On Thu, Nov 22, 2018, 8:36 AM Sexual <notifications@github.com> wrote:

[2018-11-22 20:49] Sexual commented on #75
@willmcpo I managed to find a solution that, from what I can tell, works.

Wrap the iframe in a div with this styling:

[code]

Maybe some further testing is needed, but this should be a _relatively_ easy addition to the library.

[2018-11-23 12:35] willmcpo commented on #55
Although the PR is merged, im not convinced this should be default behaviour

If you try the demo with an Android, or non iOS device, and disable without target element, the target is still scrollable, but isn't in iOS.

Great for iOS, but the inconsistent behaviour is bothering me.

[2018-11-23 13:46] fzembow commented on #55
Thanks for taking a look at the PR!

Do you suggest that we disable _all_ scrollable elements without a `targetElement`?

IMO that always felt like a workaround on iOS, rather than a feature of that platform's implementation. But I agree with you that cross-platform consistency is somewhat lacking.

[2018-11-23 20:55] willmcpo commented on #55
Hey sorry I think I will revert this PR or we'll need to iterate on master. I think the better approach is to enforce a target element is provided (or throw error if it isn't).

If you then want target to also be locked, you pass an option `lockTarget: boolean` with false being default.

For iOS, we continue doing what you did if locktarget: true

For Android and other platforms, we disable scroll

[2018-11-24 18:27] Aarbel opened #78 "Question : fix iOS scroll that disable pointer-events on absolute elements over the scroll container"
Hi @willmcpo

Thanks a lot for this library, it helped me a lot fixing iOS scroll bugs, it will help a lot the community of Progressive Web Apps to make more "native-like" apps.

I've experienced an other issue with webkit scroll:
**When a container is scrolling, all the absolute elements above it don't receive mouse and touch events. When the scroll stops, touch works back. Do you know a way to f

[2018-11-28 08:57] MiguelDebruyne opened #79 "Can't import from node_modules via RollupJS"
When I try to import the module via Gulp + RollupJS via
`import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';`
I get the following error
`'disableBodyScroll' is not exported by node_modules/body-scroll-lock/lib/bodyScrollLock.min.js`

Reason is: I need the .es6.js file, not the normal one
I have to manually copy/paste `thebodyScrollLock.es6.js` file into

[2018-11-28 09:19] willmcpo commented on #79
Not sure I get what you mean.

import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock/bodyScrollLock.es6.js'

??

[2018-11-28 10:02] MiguelDebruyne commented on #79
Oh man I didn't know you could do this..  Feel like a dumbass now. Thank you.

(Correct import code for the even bigger jackasses who failed to understand this:  `import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock/lib/bodyScrollLock.es6.js';`)

[2018-11-28 20:10] willmcpo commented on #79
oh yeh forgot the `lib` part =)

Nah all good mate =)

[2018-11-28 20:10] #79 closed

[2018-11-29 10:40] thomaswoj commented on #58
Hi,
I ended not using the functionality in the end, but this was roughly the code I was trying to use:

(I think I got confused over the intended purpose of the package as I wasn't using it on a scrollable element, but was still trying to get the body to lock during a touch event)

`$(document).on("touchstart", ".choose-reaction-btn", function (event) {
    if ($(event.target).hasClass('touch-choo

[2018-12-03 16:16] borisyordanov commented on #19
@Egoscio why is the targetElement an HTMLElement? This prevents us from passing `body` for example as the targetElement.

[2018-12-05 05:35] MitchEff opened #80 "Reserve scrollbar width on disableBodyScroll"
I can see there's a `reserveScrollBarGap` option available in the options passed to `enableBodyScroll`, but not in disableBodyScroll?

I feel like logically you'd want to reserve the scrollbar's gap when _disabling_ body scroll (i.e, opening a modal), right?

We haven't ever had a need to use `enableBodyScroll`, as we'd either disable it, or clear all locks. Is there a way of preserving scrollbar

[2018-12-05 17:08] allengordon011 commented on #16
I seem to be having this problem too... v2.6.1

[2018-12-06 01:52] diachedelic commented on #16
Are you calling `disableBodyScroll` with the same element twice, or different elements?  Or no elements?

[2018-12-07 21:42] allengordon011 commented on #16
The same element twice, if I understand your question. I believe it was caused by a re-render on calling setState. I updated the componentDidUpdate so it does not call setState, which fixed the problem.
The funny thing is, I think that code had been working for awhile calling disableBodyScroll twice (and enableBodyScroll twice too).
Thanks for your quick reply @diachedelic

[2018-12-08 03:30] diachedelic commented on #16
Ah @allengordon011 , so was `diableBodyScroll` was called twice in quick succession?

[2018-12-09 11:14] massetech opened #81 "Not working on a Boostrap nav sidebar"
Hi

I implemented the module with Bootstrap 4. Everything works nicely on modals hide & show.
Impossible to use it on a %nav that is triggered to show/hide by Jquery (the %body can't scroll which is what I want, but the %nav won't scroll as well).

Any idea why ?

[2018-12-10 01:57] diachedelic commented on #16
It seems that because you are supplying the function `disableBodyScroll` as a click event handler, so the event object is passed as the `targetElement` argument.  `targetElement` is not optional (see #55) and must be an HTML element.

[2018-12-10 01:59] diachedelic commented on #16
I'm talking about the original repro at https://codesandbox.io/s/0172yjr8n btw, @allengordon011

Just make sure you supply an HTML element to both `disableBodyScroll` and `enableBodyScroll`

[2018-12-10 14:09] StanAngeloff commented on #80
The documentation is confusing. You can in fact set `reserveScrollBarGap` as options to `disableBodyScroll`. See [the code](https://github.com/willmcpo/body-scroll-lock/blob/79204ebfcc29df1c5aec753d5ec6864dc242c62d/lib/bodyScrollLock.es6.js#L57) which gets called with both `enable`/`disable`.

[2018-12-10 16:20] allengordon011 commented on #16
FYI my code supplies disableBodyScroll and enableBodyScroll a ref created in the class constructor as
`this.modalRef = React.createRef();`
componentDidUpdate fires disableBodyScroll `if (!prevProps.visible && this.props.visible)` and enableBodyScroll `if (prevProps.visible && !this.props.visible)`. Seems to be working now.

[2018-12-11 10:17] massetech commented on #81
fixed ;

the problem came from my nav which needed a max-height: 100%;

[2018-12-11 10:17] #81 closed

[2018-12-15 21:37] dlong500 opened #82 "Not entirely preventing body scroll on iOS 12.x"
Even with the provided demo, one can still scroll the body in iOS 12 if you touch at the bottom of the page when the browser controls are hidden.

To be absolutely clear, when you first load the demo (as with any page on iOS) the browser address bar at the top and the controls down at the bottom are visible.  If you proceed to press the "Disable Body Scroll" button <i>with the browser controls sti

[2018-12-17 17:19] juandc opened #83 "Demo Link Upper"
I thought that this repository had no demonstration but, after some minutes looking for I found it in almost the last position in the README: thinking:. I think, maybe, by adding the [Now Demo Link](https://bodyscrolllock.now.sh/) in the repo description we can get a quick preview of the package :laughing:.

[2018-12-19 14:50] drwsmth commented on #82
I’m having exactly the same issue.

[2018-12-21 07:53] lamathop commented on #82
:+1:

[2018-12-23 16:04] Bobgy opened #84 "Doesn't work on Android webview"
I've tried this and it works on almost everywhere except Android webview.

I don't quite understand why it could be different between chrome 70 in browser vs chrome 70 in webview, but I am seeing this issue.

Current Behavior in Android webview: when you scroll the scrollable overlay to one end, then it starts to scroll body instead.
Expected Behavior in Android webview: when you scroll the scroll

[2018-12-24 17:14] GulinSS commented on #84
Same for me

[2019-01-09 00:47] MitchEff commented on #80
Hmm. @StanAngeloff I can put reserveScrollBarGap in as an option, but it doesn't do anything.

	const element = document.getElementById('modal')

	disableBodyScroll(element, {
		reserveScrollBarGap: true
	})

Is the above a correct implementation? The page still jumps to the side as the scrollbar's removed - it doesn't seem to have made any difference.

[2019-01-09 00:55] MitchEff commented on #80
Oh! Hang on - it does work. It's just if you're using a fixed-position div, it'll of course ignore the padding on <body>, making it a little useless for modals and whatnot.

Thanks for your help.

[2019-01-11 03:15] rauchg opened #85 "Thank you!"
We are about to roll `body-scroll-lock` on https://zeit.co :)

[2019-01-11 03:15] #85 closed

[2019-01-11 04:02] willmcpo commented on #85
@rauchg awesome!

[2019-01-12 09:12] mrk197702 opened #86 "Iframe is scrolling while body not"
Hello
I need scroll page to be locked but it contains an iframe and when the user touches it...it scrolls and that's unwanted. This happens on Safari and iOS. If I touch out of the iframe the body doesn't scroll as I want.
I tried to add some CSS to iframe container such as overflow.hidden or some JS preventDefault but the iframe still keeps scrolling I think is an iframe issue.
Some fix?

[2019-01-14 12:21] alexpalchikovskiy commented on #61
@Jokero how you fixed it? I have same problem.

[2019-01-14 12:54] Jokero commented on #61
@alexpalchikovskiy No. In order to support horizontal scroll the library has to be patched

[2019-01-17 16:40] jackmcdade commented on #86
That sounds like exactly the sort of the behavior that this package is designed for. My guess is you just want `overflow: hidden` on your iframe and don't need this package.

[2019-01-18 20:08] JiveDig commented on #82
Seeing this as well.

[2019-01-20 13:30] asafmoshejul opened #87 "Prevents smooth or fast scroll"
Hi,

The plugin works great, but on iPhone the target element is not scrolling smoothly - it doesn't go all the way up or down when scrolling fast.

You can see here, on mobile search in the search box "מלח" and try to scroll fast up or down.

https://checkmarx.onlinestock.co.il/

How can we fix it?

[2019-01-22 16:13] KennisTsui commented on #82
Same here  ~"~

[2019-01-22 19:53] willmcpo commented on #82
Hi all

Thanks for raising this issue.

It has been noted but I've not had time to investigate. If anyone can try to debug and share the findings, that would be great.

[2019-01-23 04:36] Ninos opened #88 "Scroll freeze on touch outside element"
Hey there,
I have the same problem described in following post with ios (iphone) latest version:
https://stackoverflow.com/questions/41629418/scroll-freezes-in-popup-if-area-outside-of-the-scroll-component-was-touched-on-t

After touching an outside element in the popup, the scroll is not working for ~ 3 seconds. You can test it here:
https://sw22.firebaseapp.com/

*Steps to reproduce*
1. Open a p

[2019-01-23 20:14] KiwiKilian commented on #82
After some research I figured the `touchmove` event isn't triggered at all down in the area the bottom toolbar. There is probably nothing to be done until it's fixed... Bug is already filed: https://bugs.webkit.org/show_bug.cgi?id=189586

[2019-01-25 20:15] gijimmyj opened #89 "On Safari IOS"
On IOS Safari, if the modal content requires vertical scrolling, the bottom portion of the modal is covered by the bottom browser bar and cannot be scrolled past.

[2019-01-28 10:11] An-Cu opened #90 "enableBodyScroll doesn't enable scroll"
`enableBodyScroll` doesn't enable scroll in situation `disableBodyScroll` was required (n+1)-times and `enableBodyScroll` n-times.
`enableBodyScroll` and `disableBodyScroll` was required without arguments.

To reproduce the issue try the next sequence of function requiring:
`disableBodyScroll()`
`disableBodyScroll()`
`enableBodyScroll()`
as result `overflow: hidden` styles in `<body>` still  persi

[2019-01-28 12:31] mkalygin opened #92 "`isTargetElementTotallyScrolled` is wrong when `overflow: hidden` is on `targetElement`"
I'm not sure is this a bug or intended behavior, but here is the use case:

1. I have a modal, which a user *can't* scroll.
2. In this modal there is a small panel which is collapsed by default.
3. So `targetElement.clientHeight` is always smaller than `targetElement.scrollHeight` and there is no way to scroll, so the condition [here](https://github.com/willmcpo/body-scroll-lock/blob/master/src/bo

[2019-02-07 11:47] FL3NKEY commented on #88
work with scroll-lock.

https://codepen.io/FL3NKEY/full/LqOvGN
https://github.com/FL3NKEY/scroll-lock

[2019-02-09 16:32] PezCoder commented on #86
Related to: https://github.com/willmcpo/body-scroll-lock/issues/75
@jackmcdade Overflow: hidden on iframe wouldn't stop the body from scrolling.

I'm facing the exact same issue, adding in some more details:
I add `disableBodyScroll` on `iframe` tag. Out of the box, the iframe itself won't scroll if it's content is more than the height, & on trying to scroll the iframe the body will scroll freely

[2019-02-10 07:25] PezCoder commented on #89
@gijimmyj It would be helpful if you provide a little more details but if I understand it right.
This can be because of the CSS for the modal & not specifically because of the library as it just handles the scrolling portion.

I'll suggest using `bottom: 0 (if fixed positioned)` or `height: 100%` rather than `view port height units for ex: 100vh` which factors in the additional browser url bar hei

[2019-02-15 11:53] BuptStEve commented on #56
https://github.com/willmcpo/body-scroll-lock/pull/21

[2019-02-15 11:53] BuptStEve commented on #84
Duplicate of #56

[2019-02-22 02:47] ml-andy commented on #84
Same for me

[2019-02-22 15:02] fvonellerts opened #94 "Keyboard scrolls away from body lock"
On iPhone (probably iOS in general) when the keyboard is opened on an input element inside the locked element, the element is scrolled upwards by half the screen to make space for the keyboard.

When closing the keyboard again, the locked area keeps occupying only half the screen - with no way to scroll up.

[2019-02-26 09:22] franktopel opened #96 "Does not prevent body scrolling when marking text"
Enable the body scroll lock, then start marking text and moving the mouse towards the upper or lower end of the viewport. The body scrolls.

[2019-03-01 09:38] igusse commented on #63
I think you can do something like this...

`
    function toggleScroll() {

        body.classList.toggle('scrollDisabled');

        if (body.classList.contains('scrollDisabled')) {
            bodyScrollLock.disableBodyScroll(container);
            body.classList.add('scrollDisabled')
        } else {
            bodyScrollLock.enableBodyScroll(container);
            body.classList.remove('scr

[2019-03-01 18:40] vinialbano commented on #87
I have the same problem. Any news about this issue?

[2019-03-11 17:12] manuel140 commented on #84
Same for me

[2019-03-18 09:08] catamphetamine opened #97 "Incorrect `reserveScrollBarGap` docs"
The README section confuses `enableBodyScroll` with `disableBodyScroll` both in text and in the code sample (should be vice-versa).

[2019-03-21 18:57] pranksinatra opened #98 "Edge 15 bug related to passive event handling detection"
Hi, first of all thanks for maintaining this super helpful library.

I work at [BeFunky](https://www.befunky.com/) and we've been testing across many browsers in anticipation of a major release, and found an issue related to your passive event detection code which causes the following error to be thrown in Edge 15:

`Unable to get property 'handleEvent' of undefined or null reference`

This happen

[2019-03-21 20:02] willmcpo commented on #98
Hi

Yes please submit PR.

Will try to attend to this PR and others soon, I've been overwhelmed with
things lately but should be good to followup shortly.

Thank you.

On Fri, Mar 22, 2019, 5:57 AM Micah Miller-Eshleman <
notifications@github.com> wrote:

[2019-03-25 08:11] Lukavyi commented on #82
Same problem

[2019-03-26 17:44] pranksinatra commented on #98
Quick update on the issue--it appears that this bug was fixed in a minor release of Edge 15 (we're unable to replicate in Edge 15.15063), so this fix is probably unnecessary. If we experience any issues in production, I'll re-open this Issue & PR, but for now, feel free to ignore it.

[2019-03-26 17:44] #98 closed

[2019-03-27 13:20] Mattgic commented on #82
Same here !

[2019-04-03 07:57] hoyangtsai commented on #84
same here

[2019-04-03 08:04] BuptStEve commented on #84
hey guys, how about trying this https://github.com/tuateam/tua-body-scroll-lock

[2019-04-04 19:02] paragonn opened #100 "Content in the target not scrolling"
I implemented the script on a plain vanilla js config and it is successfully locking the body scroll, however the content in the target is not scrolling. Their are 4 pages (slides) inside the target as part of a stepped form. The second step in the form is larger than the mobile screen size however it is not scrolling. You can see a demo here: https://dev.ijm.org and click on the red Give button.

[2019-04-04 22:40] diachedelic commented on #100
Can you try using the [allowTouchMove](https://github.com/willmcpo/body-scroll-lock#allowtouchmove) option?

[2019-04-04 22:54] paragonn commented on #100
Thanks @diachedelic -- I applied the allowTouchMove to the #draw1-wrap div and the scroll now works, however the body unfortunately scrolls too?

[2019-04-04 23:08] diachedelic commented on #100
Can you paste your `allowTouchMove` function here?

[2019-04-04 23:22] paragonn commented on #100
Sure thing @diachedelic, here it is:

    disableBodyScroll(targetElement, {
      allowTouchMove: el => (document.querySelector("#draw1-wrap"))
    });

[2019-04-04 23:42] diachedelic commented on #100
`allowTouchMove` expects a boolean, try this:

[code]

[2019-04-04 23:48] paragonn commented on #100
Thanks @diachedelic -- The body scroll lock is now working again, however the content on page/slide 2 is not vertical scrolling. Do you think it could have something to do with a styling in the css?

[2019-04-05 00:33] retailonline commented on #100
Same problem here.

[2019-04-05 01:21] diachedelic commented on #100
@paragonn `#draw1-wrap` is possibly not the correct element to target, or you need to target other elements too - make sure you target all elements which have overflowing content.

[2019-04-05 01:26] diachedelic commented on #100
![image](https://user-images.githubusercontent.com/310464/55598328-debe3480-579d-11e9-80c2-99991ff38bd1.png)

Looking at your demo, try targeting `div.drawer` instead

[2019-04-05 04:17] paragonn commented on #100
Thanks for your assistance @diachedelic -- I tried your recommendation and overflow content still does not vertical scroll. Here is the code for the current staging (dev.ijm.org) of the problem:

    disableBodyScroll(targetElement, {
      allowTouchMove: el => (el === document.querySelector("#draw1-wrap"))
    });

Where the targetElement is defined like so:

const targetElement = document.query

[2019-04-05 05:14] diachedelic commented on #100
I see you've used the `body-scroll-lock-ignore` attribute - for that attribute to work, you need to adjust your `allowTouchMove` function like

[code]

And you can safely remove `body-scroll-lock-ignore` from all the children elements - you only need it on the outermost scrolling element, all elements within will automatically be allowed to scroll.

[2019-04-05 05:15] diachedelic commented on #100
So just leave it on `#draw1-wrap` like `<div id="draw1-wrap" body-scroll-lock-ignore>` (doing `body-scroll-lock-ignore=""` might do the opposite of what you want...)

[2019-04-06 08:12] e-gaulue opened #101 "ontouchstart is never fired so no scroll occurs"
in disableBodyScroll declaration, I read this:
[code]
But when debugging, ontouchstart is never fired. So my element never scrolls (maybe linked with #100). I'm not a JS specialist, but there is no event-listener on touchstart event. Maybe, there should be a passive one?

Anyone to confirm?

Regards,

[2019-04-06 09:35] e-gaulue commented on #101
Sorry, another touchstart handler had stopPropagation()

[2019-04-06 09:35] #101 closed

[2019-04-10 20:59] carpben opened #102 "Scroll doesn't work on IOS"
For some reason Scroll doesn't work in modals on IOS. It works well, on other platforms.
To view this issue:
1. Visit https://www.givingway.com/search.give?searchMode=online on an iphone.
2. Open the tasks filter.
3. Try to scroll the screen.

Files in production include source-maps. Specifically visit
![image](https://user-images.githubusercontent.com/13496178/55913055-62d44a00-5bec-11e9-83e9-8ec

[2019-04-11 11:44] kemalcany commented on #102
Hmm I am also having an issue on my iPad. However the demo at [https://bodyscrolllock.now.sh](https://bodyscrolllock.now.sh) works fine on the iPad too. Could there be a different implementation than the default?

[2019-04-12 11:31] rvetere opened #103 "disableScrollLock is not working"
cool package - only downside,  it's not working -.-

check out your own demo page here:

https://bodyscrolllock.now.sh/

enable scroll lock -> works 👍

disable scroll lock -> body won't get a scrollbar anymore and thus we cannot scroll the body anymore.... would be nice to have this working.

interesing - on current iOS it is working, but the momentum scroll is broken in the target element.... i g

[2019-04-12 14:39] carpben commented on #102
After testing and playing with the functions for a few hours on various platforms, there is no problem with the library, but how I was using it. I think the documentation could be improved. Specifically, that the element we would like to allow scroll on, is the same element we should pass to `disableBodyScroll` (and not a parent of that element) and on which we should apply the following css:

[co

[2019-04-15 12:13] dong-dohai commented on #59
hi @adrienharnay . I have the same problem when I use it with Chrome. How did you fix it?

[2019-04-16 01:52] karlcow commented on #24
Could you reopen this issue. This creates web compatibility issue with Firefox on Android.
see https://github.com/webcompat/web-bugs/issues/28773

[2019-04-16 17:20] dcastil commented on #87
This issue is caused by iOS itself, not by body-scroll-lock. By default, iOS has the momentum scroll only activated for the body, not for overflow elements. If you want to enable it for an overflowing element, just add

[code]

to the css of your element.

As the property can be inherited, you can also attach this property to the `body` or `:root` element to enable momentum scroll for all overflow

[2019-04-17 13:00] lmartins commented on #87
Oh nice @dcastil this fixes another issue I was experiencing on iOS, where if the scrollable content contained any input/textarea fields, starting the touch event on those would prevent the content from scrolling.

[2019-04-17 15:41] phelma commented on #102
#104 fixed this for me

[2019-04-17 15:41] phelma commented on #103
#104 fixed this for me

[2019-04-20 13:40] laz3rpenguin opened #105 "Can't get it working on iOS"
Hi all,

I'm trying to build a single-view web-app using express (not the best framework for my use cases, I know).
Because it is a 'web-app' it would be the best when I open the page in full screen on my phone, there is no overflow for the user to scroll. Currently, the view of the divs takes up the entire height and width of the viewport and fits perfectly, however when you scroll, there is a la

[2019-04-23 13:42] jtomaszewski commented on #102
I agree with @carpben that we should put more focus in README onto which node should be passed to `disableBodyScroll(targetElement)`.

It would probably save my last 1-2h ;p

[2019-04-24 03:44] diachedelic commented on #105
@laz3rpenguin I'm pretty sure you can't include a `<script>` element outside the `<body>` tag, try adding your scripts just before the closing `</body>` tag

[2019-04-25 06:22] #105 closed

[2019-04-25 09:14] adrienharnay commented on #59
Hey, sorry it has been a long time and I don't remember the details, but my test was flawed and there was no problem after all!

[2019-04-26 07:47] Snoopydevelopper opened #106 "Height scrollTarget"
Hello,

If you don't define any height for .scrollTarget, scrolling on it is not working.

Can you fix it ?

[2019-04-30 07:24] jaehong-hwang opened #107 "body set overflow hidden, but still scrolling"
But works in `html { overflow: hidden; }`.
I'm using Vue.js

work in:
[code]

[2019-04-30 09:00] andyWynyard commented on #87
Thanks this was perfect for me too.

[2019-05-03 15:02] waghcwb commented on #107
Same here.. I'm using `Vue`

[code]

[2019-05-05 12:02] knitevision1 commented on #102
Thank you @carpben I was trying for years to figure out the combination where everything would work as intended.

[2019-05-06 10:53] hacknug commented on #90
@willmcpo anything I can do to help get the PR merged? You can replicate the issue by clicking twice `disableBodyScroll` and then `enableBodyScroll` on [your demo link](https://bodyscrolllock.now.sh/).

[2019-05-07 11:05] mrgyawali commented on #82
The same problem.... there is no need to use this package if it doesn't work for ios(safari)

[2019-05-07 20:12] dlong500 commented on #82
It remains to be seen if it will affect this specific issue, but it looks like a [patch](https://trac.webkit.org/changeset/245006/webkit) just landed in webkit that fixes the longstanding problematic behavior where the body is still scrollable with `overflow: hidden`.  If I'm reading this right then any browsers using webkit (including mobile Safari) will finally work the same as all the other maj

[2019-05-09 21:58] willmcpo commented on #102
Readme updated to emphasise `target element that you want to persist scrolling for` is element you want to allow scroll ON, and not the parent of the element you want to allow scrolling for.

Thanks for the tip.  😃

[2019-05-13 14:01] Hlsgs opened #108 "Is it possible to target html instead of body with overflow: hidden?"
All sorts of issues arise when scrolling with `body` instead of `html`, especially in Firefox. For example, if one wishes to always show the vertical scrollbar, one must set `overflow-y: scroll` on `html` else FF will display two scrollbars. Also, `position: fixed` elements overlay the scrollbar on the `body` element.

[2019-05-15 15:57] gblakeman commented on #61
Just ran into this as well… Has anyone successfully patched a version for horizontal scrolling in iOS?

[2019-05-16 11:24] rusyurchenko opened #109 "React example is incorrect"
Hi there,
I found an issue with a React ref example. Inside a `render()` method you suggest to

But if we do so, we don't assign actually  `this.targetRef` to the component and will always get a `{current: null}` from react ref.
Changed `this.targetElement` with `this.targetRef` worked for me.

[code]

Please update the README example.

[2019-05-17 20:38] alxhghs commented on #102
Aside from `overflow-y: auto` and `-webkit-overflow-scrolling: touch`, I had to add `height: calc(100% + 1px)` in order for scroll to work on iOS Safari when content is dynamically rendered

[2019-05-17 21:17] BBaysinger opened #110 "iOS Safari: Attempted to assign to readonly property."
Using ES5 version.

[Error] TypeError: Attempted to assign to readonly property.
	disableBodyScroll (bodyScrollLock.js:1:1391)
	open (site.js:454)
	(anonymous function) (site.js:431)
	dispatch (jquery-3.3.1.min.js:2:41778)

And:

[Error] TypeError: Attempted to assign to readonly property.
	enableBodyScroll (bodyScrollLock.js:1:2586)
	close (site.js:638)
	(anonymous function)
	dispatch (jquery-3.3

[2019-05-17 21:24] BBaysinger commented on #110
Ugh. My bad. I was passing a string. I'm thinking it should throw an exception from that...

[2019-05-20 07:19] Grawl commented on #76
also it must address any element with `overflow: auto` or `scroll`

[2019-05-21 16:57] cdinu opened #111 "Range inputs on iOS Safari can't be operated"
I manually added  three lines in `bodyScrollLock.js`,  `allowTouchMove` function (line 60, as of v2.6.1) to solve the problem and allow the ranges to be changed.

@willmcpo, let me know if I should create a PR with this. Feel free to close the issue if it can be addressed differently.

[code]

[2019-05-22 01:12] diachedelic commented on #111
This is a special case of https://github.com/willmcpo/body-scroll-lock/issues/76 which proposes implementing some sensible defaults.  We'd probably want to include `textarea`s in this.

[2019-05-22 01:12] #111 closed

[2019-05-22 01:19] diachedelic commented on #76
Should we provide a default `allowTouchMove` function, or actually hardwire in these exemptions? I can't think of a situation where you wouldn't want e.g a `textarea` to scroll but perhaps there is. By providing a default `allowTouchMove` fn, anyone overriding needs to reimplement its contents (or can we expose the default `allowTouchMove` so it can be reused?)

[2019-05-22 17:27] dzlks5736 opened #115 "Scroll up work, but down doesn't in ios"
disableBodyScroll is working just for one side

on iPhone, just scrolling up is working
when I scroll up, it collapses

https://ernes-f810c.web.app/

Body is supposed to be locked after menu icon

[2019-05-22 18:14] dzlks5736 commented on #115
I misunderstood to choose element, solved

[2019-05-22 18:25] #115 closed

[2019-05-26 00:10] leantide commented on #36
Thank you for this component solution to a very frustrating iOS issue.

I too have multiple scrolls and would benefit from disableBodyScroll handling either a single selector result or an array of selector results as the targetElement(s) parameter.

[2019-05-26 04:53] leantide opened #116 "allowTouchMove"
Nice component solving a very frustrating issue. Thank you for this.

My **vertical** scrolling div is a child of a component that needs **horizontal** touch swipe gesture. I observe that disableBodyScroll interferes with these needed parent touch gestures.

I understand that this component  prevents the body scroll on iOS by managing ontouchmove with preventDefault / stopPropagation, the side eff

[2019-05-26 15:24] carpben commented on #102
let

[2019-05-27 15:26] diachedelic commented on #116
@leantide could you paste some examples of `allowTouchMove` that have not been successful? I am not sure you will be able to disable vertical scrolling while enabling horizontal scrolling

[2019-05-27 15:40] leantide commented on #116
[code]

[code]

[2019-05-27 15:51] leantide commented on #116
I think that the while loop finds the body-scroll-lock-ignore attribute, thereby setting the allowTouchMode option to true, which then stops the component from executing event.preventDefault() which allows the touch event to reach my parent component (good thing) and also allows the scroll to cascade to the body and cause the problematic bounce (bad thing).

Unless I am misunderstanding, to enable

[2019-05-27 16:02] diachedelic commented on #116
yes @leantide , i was thinking that might be the case :(  sorry

[2019-05-27 17:24] leantide commented on #116
Thanks

[2019-05-27 17:24] #116 closed

[2019-05-28 15:36] chpio commented on #80
yeap, it really is useless for modals. @MitchEff do you have a workaround for that?

[2019-05-29 09:40] MitchEff commented on #80
Mmmnot really. I ended up just hiding the scrollbars with CSS for modals -
it's pretty apparent that you need to scroll if it's taller than the screen.

On Wed, 29 May 2019, 12:36 am chpio, <notifications@github.com> wrote:

[2019-06-03 12:58] SeanSilke commented on #90
The same with me. I have modal inside modal. And [this line](https://github.com/willmcpo/body-scroll-lock/blob/master/src/bodyScrollLock.js#L232) evaluated too false because  locks length is > 1.

[2019-06-03 13:06] diachedelic commented on #90
@SeanSilke if you close one modal and still have one open, the body should still be locked, right?

[2019-06-10 15:46] SeanSilke commented on #90
@diachedelic  Yes. My problem is with unlocking body scroll.

[2019-06-11 09:02] Pixney-William commented on #107
Have you set your body and html to height 100%  @waghcwb ?

[2019-06-12 00:40] karticus commented on #107
@Pixney-William your solution worked for me.  thanks!  Can't find anywhere in the docs to indicate that this is required.  and in fact, it doesn't look like it is in the demo.  Can you shed any light on why this is necessary?

[2019-06-13 10:10] zhangciwu commented on #84
@Bobgy it works.
But I think this is a bug of Android webview, maybe there is a bug report of that project?

[2019-06-13 10:53] babobski commented on #82
Found the issue why it is not working in 12.*, there is an issue with declaring the event listener form within a event listener. If you first declare the listener and use a flag in the other function to indicate if it should prevent the event, it should work.

See the following [link](https://github.com/metafizzy/flickity/issues/740#issuecomment-474601361) for more information.

Also a small note

[2019-06-13 20:19] dlong500 commented on #82
@babobski I'm not sure I follow what you are saying.  Maybe you have a related issue, but this bug occurs even if body-scroll-lock is used without any other event listeners.  And looking at the code of body-scroll-lock there is never an event listener declared within an event listener.

Can you clarify what you are stating?  Have you been able to modify the body-scroll-lock code so that the demo c

[2019-06-13 21:11] babobski commented on #82
To be more clear about the issue I ran in to.
Today I had the request to make it work, when you slide in a [Owl Carousel](https://owlcarousel2.github.io/OwlCarousel2/), that the page could not be scrolled vertically. After some tries of my one, I could not make it work on a iPhone.
If I set a overflow hidden on the body I was still able to scroll on a iPhone, it was driving me mad.

So after some

[2019-06-14 21:37] kossel commented on #90
another situation that causes the `overflow:hidden` from body is if the target element is not longer exits. eg. unmounted

[2019-06-16 07:20] willmcpo commented on #90
i started reviewing this one

[2019-06-16 19:58] willmcpo commented on #90
Why would you ever call disableScroll on the same target element?

[2019-06-16 20:02] kossel commented on #90
I have similar problem but when the targetElement doesn't exist anymore, eg. it unmounted or something the body's overflow would never be removed.

[2019-06-16 20:30] willmcpo commented on #90
Can you describe more of your use case?

On Mon, Jun 17, 2019, 6:02 AM Kossel <notifications@github.com> wrote:

[2019-06-16 21:40] kossel commented on #90
yes, please see this [codesandbox ](https://codesandbox.io/s/youthful-ardinghelli-y4por) I created to reproduce it.

it's a very very slim down version of what I'm doing, basically for modal, we offer the option of "unmount  content when close" so when the `isOpen` become false, the scroll target element is not longer exits,
and this line returns false
https://github.com/willmcpo/body-scroll-lock/

[2019-06-19 11:31] eugeneoshepkov commented on #84
Same problem, doesn't work in webview

[2019-06-24 06:04] developdeez opened #119 "Causes a thick white border on the left and right"
I have a full screen modal that shows above a parent. For some reason when I use this to disable the parent scroll. There is white thick border (or something) showing on the sides of the page. It goes away when I resize the page.

What causes that and can it be prevented?

[2019-06-25 08:27] SeanSilke commented on #90
@willmcpo  wrote `Why would you ever call disableScroll on the same target element?`
In our case we call for popup from popup.
The `disableScroll` mast be Idempotent, number of calls should not affect result.

[2019-06-25 11:42] willmcpo commented on #90
@seansilke

Sure. The pull request to fix this needs to make an amendment then we can merge.

[2019-06-27 12:27] darilla opened #120 "Can't import from node_modules"
When I import the module
`import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock';`
and then try to build the app I get the following error:
`Error: 'disableBodyScroll' is not exported by ..\..\node_modules\body-scroll-lock\lib\bodyScrollLock.min.js. `

I tried the approach in #79 (as they also use Rollup)
`import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from

[2019-06-27 23:28] willmcpo commented on #90
Merged fix

[2019-06-27 23:28] #90 closed

[2019-07-03 20:54] gethinoakes opened #122 "disableBodyScroll disables touchstart for Apple Pencil"
I've found a strange bug. When setting disableBodyScroll on a scrollable element, buttons in divs before and after the scroll element cannot be clicked/tapped using the Apple Pencil, though they still work with normal touch.

From what I understand the Apple Pencil fires the same touchstart event as a normal touch event, with some extra parameters... so I'm not sure why this is happening.

I have

[2019-07-03 21:21] gethinoakes commented on #122
Apologies, I hadn't checked the **allowTouchMove** option.
With that set touch also works with the Apple Pencil.

[2019-07-03 21:21] #122 closed

[2019-07-04 12:32] natterstefan opened #123 "Please start writing a Changelog"
Please, add a changelog (eg. https://keepachangelog.com/en/1.0.0/) so people know what's been updated in a new release. I do not want to update without knowing what's going on (what's new, what was fixed, ...).

Currently I do not see any document listing changes. Or am I wrong and there is one?

Thank you very much, that would be really helpful!

PS: I know you document _some_ releases https://gi

[2019-07-04 12:54] willmcpo commented on #123
Hi @natterstefan

With each release, I try to be descriptive in the releases section ([here](https://github.com/willmcpo/body-scroll-lock/releases)) - it's not an actual file, but GitHub does the job already, so why not keep using that approach? =)

[2019-07-04 15:01] #107 closed

[2019-07-05 08:19] natterstefan commented on #123
Hi @willmcpo,

thanks for the quick reply. Personally, I think it's fine when the releases are documented in the GitHub release section, but only when all of them are. Some of them miss further information.

You could also add a "Release/Changelog" section in the README and just link to the releases tab. I saw that in other READMEs on GitHub already.

I agree, that would be helpful.

Thanks for th

[2019-07-06 12:07] willmcpo commented on #123
no worries

[2019-07-06 12:07] #123 closed

[2019-07-12 21:56] #109 closed

[2019-07-15 19:21] limaneto commented on #100
If there is a parent between body and target's parent, and that parent has overflowing content, is it going to work? Or the scroll lock should be applied on the component inside that between parent?

[2019-07-15 23:34] diachedelic commented on #100
@limaneto I'm having a hard time visualising your issue, could you post a JS Fiddle or something?

[2019-07-16 00:34] limaneto commented on #100
do you guys have any live example with React?

[2019-07-16 00:43] diachedelic commented on #100
I have no idea, I'll wait for someone else to answer that

[2019-07-16 08:57] jmayergit commented on #102
`-webkit-overflow-scrolling ` is non-standard, why are we using it

I am unable to scroll on iOS using any browser

https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling

[2019-07-16 10:25] alxhghs commented on #102
You don’t have to use WebKit-overflow-scrolling if you don’t want. It makes scroll smooth on iOS as is optional. It won’t do anything on other browsers but is widely used for iOS.

Overflow-y: auto and height: 100%+1px fixes two iOS scroll bugs.

I believe this library uses overflow: hidden. iOS doesn’t respect overflow hidden for scroll lock containers but overflow auto does work.

Height: 100% +

[2019-07-16 12:51] bobberg commented on #100
For the people that still have this problem after trying the fix... Try destroying the body and turning the div into the body dynamically. And add a close button that reloads the page. Hacky, but works perfectly in my project.

[2019-07-16 19:36] limaneto opened #125 "Target only scrolls when using two fingers"
Hi, the approach using **querySelector** works, but when I use the **ref** approach, whe target scrolls starts when using two fingers.
Thanks for the lib by the way.
`import React, { Component } from 'react';
import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';
import './App.css';

class App extends Component {
  render() {
    return (
      <div classN

[2019-07-18 14:24] jmayergit commented on #102
@alxhghs great. setting 'overflowY: auto' and height: 'calc(100% +- [number]px)' allows for scrollable content on iOS modals

[2019-07-22 20:12] jellevdvliet commented on #120
I'm not the author, but does

`import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock/lib/bodyScrollLock.es6`

work? This fixed it for me on v2.6.4

[2019-07-23 15:13] jlgouwyapizr opened #126 "Scroll inside popup disabled also"
Hello,

The body scroll is perfectly locked.
but inside the popup, on mobile safari, I have a scroll also on paragraph element.
This scroll doesn't work either.

this is the code I use :
[code]

Even without scroll inside the popup, my popup is not scrollable (if the content is bigger than the screen). The popup style is :
[code]

[2019-07-23 19:22] joethegenius opened #127 "Scroll Lock Requires Target Element"
I have a page that does NOT have an element I desire to remain scrollable once the page is scroll locked with iOS .  I simply want to lock the page scroll.  In order to work around this, I had to place an empty "display:none" element on the page and use it as the target element.  Easy work around; however, tripped me up for a while.

[2019-07-24 00:24] diachedelic commented on #126
You may want to investigate the `allowTouchMove` option

[2019-07-29 07:10] jlgouwyapizr commented on #126
Oh yes ! I missed this !
Thanks

[2019-07-29 07:11] #126 closed

[2019-07-30 09:29] golubvladimir opened #128 "How check for scroll block ?"
if it is given by another component

[2019-07-31 23:35] Tushar-Tilwani commented on #102
height: calc(100% +- [number]px) hack works but as I reach at the end of the scroll. Scrolling  doesn't work again.

[2019-08-08 07:51] alexanderLanars opened #129 "Doesn't work fine for 'iphone x'"
For see this problem you need:
1. Get Iphone X, open https://bodyscrolllock.now.sh/
2. Little scroll page to top, for hide bottom panel with navigation buttons
3. Slick 'disable body scroll'
4. Swipe page in the same place, where was bottom panel with nav buttons
5. As you can see, page still scrolled

[2019-08-08 11:00] hacknug commented on #129
You mean it doesn't stay at the same place when you force Safari to show its bars?

[2019-08-08 11:21] alexanderLanars commented on #129
No, I mean, when you hide Safari bottom bar and touch and swipe on that place (where was bar), you can scroll page.

[2019-08-08 12:32] hacknug commented on #129
Can't reproduce on iOS 13. It only covers some content that was visible when the bars were hidden.

[2019-08-09 13:52] KayLeung commented on #129
I ran into this problem.

This is only happening on Safari. Because when you swipe from the bottom, it calling the bottom bar out. (On fast swiping, the body will scroll) Bad iOS behaviors!

[2019-08-09 14:28] hacknug commented on #129
Just managed to trigger scroll in both directions when double tapping the top/bottom of the viewport. This was on the latest iOS 13 beta.

[2019-08-09 22:53] diachedelic commented on #129
This is an old article concerning the "special" status of page areas where the menu bars sit: https://benfrain.com/the-ios-safari-menu-bar-is-hostile-to-web-apps-discuss/

[2019-08-14 15:07] NomNes commented on #120
@willmcpo need `"module": "lib/bodyScrollLock.es6.js"` in package.json

[2019-09-02 21:01] wowczarczyk commented on #61
I ended up using the `position: fixed` approach and restoring the scroll position on modal close.

[2019-09-11 04:51] haustraliaer opened #132 "Doesn't appear to work on iOS when scrolling with two fingers"
Works fine for 1 finger scroll, but two fingers still scrolls - iOS 12.4.1

[2019-09-11 07:27] muhammadhaekal commented on #132
I experienced the same Issue

[2019-09-18 23:25] xanido commented on #61
Also ran in to this, see willmcpo/body-scroll-lock#133

[2019-09-22 23:17] gbruzzo opened #134 "iOS Safari 13"
Hi everyone,

we just did a little testing on a site on which we had installed bodyscrolllock:
it seems that iOS 13 Safari (and therefore all webkit based browsers) **_finally_**

- **acknowledge** overflow:hidden;
- **ignore** webkit-overflow-scrolling: touch;

could someone please confirm?

Cheers

[2019-09-23 05:45] emrecamasuvi commented on #89
@PezCoder 's solution worked for me, changing `height: 100vh` to `height: 100%` fixed the odd bottom overflow  👍

[2019-09-27 09:29] hazzo commented on #134
I think you are right, library is actually not working on iOS13

[2019-09-29 21:27] joeldbirch commented on #134
For me, it seems to correctly prevent body scroll, but also prevents scrolling within other elements, too.

[2019-10-02 12:55] selrond commented on #110
@BBaysinger how's this issue? Just encountered this problem - any way to solve this?

[2019-10-15 13:05] MorphineForOdin commented on #106
Hi,

I've spent some time to figure out that .scrollTarget should have a specified height. Please, either fix it or at least provide this info in the documentation.

[2019-11-26 22:59] ccchapman commented on #127
This is a duplicate of #55.

[2019-11-28 10:26] jooleeanh opened #145 "Scroll bar gap is ~1px off for certain zoom ranges"
Tested browsers:
- Chrome (bug)
- Firefox (bug)
- Safari (no bug)

How to reproduce:

When using the `reserveScrollBarGap: true` option and having the zoom set between 67 and 110%, the scrollBarGap will be incorrectly calculated, having a 1px offset.
The zoom range changes depending on the viewport width (with dev window open to the side, 110% works fine, but when closed, there's the 1px offset).

[2019-11-28 13:37] AndreiEres opened #146 "reserveScrollBarGap overwrites body styles"
reserveScrollBarGap doesn't work for body with paddings: `body { padding: 30px}`, because after scroll disabling body needs `paddingRight: getComputedStyle(document.body).getPropertyValue('padding-right') + scrollBarGap`.

[2019-11-28 14:08] AndreiEres commented on #146
Maybe it should help
https://github.com/willmcpo/body-scroll-lock/pull/147

[2019-12-02 14:12] jt3k opened #148 "Request a new option bodyPlaceholder"
I request a new option. `bodyPlaceholder` = is document.body by default

This option needs to be redefined if we have a different scroll block that needs to be locked.

[2019-12-06 09:53] ahmadalfy commented on #132
Out of curiosity who scrolls with 2 fingers?

[2019-12-09 21:25] yqbk commented on #110
I'm having the same issue while using `useRef` and passing it value to `disableBodyScroll`. How have you solved that @BBaysinger ?

[2019-12-09 21:32] BBaysinger commented on #110
My solution is noted above. Make sure you are not passing a string.

[2019-12-10 12:45] yqbk commented on #110
In my case the problem was using `useRef` itself.
When I switched to
[code]
It started to work on Safari on iOS without crashing.

[2019-12-10 23:50] jonskeen commented on #110
@yqbk I also just ran into this, but I was passing the full ref object. Switching to `myRef.current` took care of it for me.

[2019-12-11 10:58] artem-zur commented on #51
Hi guys!

Seems like problem still exists in last plugin version ...

Do I need to create a new issue ?

[2019-12-11 16:42] jqweryjson commented on #86
It would be cool if it will be written on the main github page about this issue. You are save many ours (

[2019-12-11 20:43] carltesta opened #149 "Disable Body Scroll Not Working iOS 12, 13"
I'm using Body-Scroll-Lock in a simple webpage. I want to mimic the feel of an app on iOS but I cannot disable the momentum scrolling. The following works on Desktop (Chrome), but doesn't work on iOS safari. What am I missing? The "#main" element is the class of the body tag in the HTML.

<script type="text/javascript" src="bodyScrollLock.js"></script>

<script>  const targetElement = document.que

[2019-12-12 03:33] diachedelic commented on #149
`window.onload` expects a function as the argument, you could try

[code]

instead

[2019-12-12 12:05] carltesta commented on #149
Thanks, I tried this but then the body scroll lock doesn't work on either Desktop or mobile.

[2019-12-12 14:37] f0rmat1k opened #150 "Doesn't work on Xiaomi Mi Browser"
Demonstration:
https://yadi.sk/i/npWnxjRs5weyIw

[2020-01-09 22:20] soosap opened #154 "Does not work in gatsby projects"
In order to lock the scrolling in a gatsby project, the `overflow: hidden` style property must be set on the root `<html style="overflow: hidden;">` element.

[2020-01-10 10:38] awhwebteam commented on #149
I got 3 devices.
- iPhone SE ver. 13.1.3  - working fine
- iPad Pro ver. 12.2 - not working - I can see scrolling background behind
- iPhone Xs ver. 12.3.1 - not working - I can see scrolling background behind

@diachedelic solution doesn't work as well.

[2020-01-16 15:19] neilkyoung opened #156 "Demo does not work on iPad running on iOS 13"
I am currently having an issue with the body scroll lock package running on v13 on an iPad.

The scroll locking on the body is not honoured at all and still allows a user to scroll the body behind modal content.

I can see this issue replicated on your demo here:
https://bodyscrolllock.now.sh/

Does anyone know if there is a workaround for this?

I noticed that a patch was added here:
https://gith

[2020-01-23 13:32] smolnikov commented on #149
@awhwebteam please provide the example of code you're using.
https://output.jsbin.com/goxirebemi I checked this on iOS 13 and iOS 12 – it works fine.

[2020-01-23 13:39] smolnikov commented on #156
@neilkyoung just checked the demo provided in readme and my demo page https://output.jsbin.com/goxirebemi on iPad (6th generation) with iOS 13.1.3 and scroll lock works as expected

[2020-01-27 02:32] iamskok commented on #154
@soosap can you please provide more information on this issue?

[2020-01-29 14:10] paulgoldie opened #157 "SyntaxError: export declarations may only appear at top level of a module"
Hi!

I just include the Script with <script src="..."></script> an got the error:

"SyntaxError: export declarations may only appear at top level of a module".

Can you help me?

Greets

[2020-01-29 14:29] gempir commented on #134
FYI. The overflow hidden on the body is still not respected in all cases (like when the minimal safari UI is on)

Read more here: https://bugs.webkit.org/show_bug.cgi?id=153852

[2020-02-18 17:19] kpratik2015 commented on #154
Basically this isn't working on gatsby => `enableBodyScroll(document.body);` The body does get overflow hidden but the scrolling isn't stopped.

[2020-02-21 12:05] chrishale commented on #108
I needed to use `overlfow-x: hidden` on my html element for Safari, for some reason applying to the body didn't work.

One possible way round this would be to create a small wrapper for this lib:
[code]

Easy enough to drop in a js file and import from that instead of `body-scroll-lock`;

I guess you could also provide options through the CustomEvent's detail object.

[2020-03-04 12:54] matej-marcisovsky opened #158 "Option allowTouchMove is supported only on iOS devices."
https://github.com/willmcpo/body-scroll-lock/blob/master/src/bodyScrollLock.js#L174

Why is listener for `allowTouchMove` triggered only on iOS devices? Readme file is not mentioning this.

[2020-03-04 21:09] diachedelic commented on #158
This lib only blocks touch events on iOS, so `allowTouchMove` would not do anything on other devices. I suppose it's not mentioned because it's an implementation detail, but you are right - it is an oversight, as you would want to know that to debug your `allowTouchMove` function.

[2020-03-10 21:39] GilliganL opened #159 "isIosDevice update"
The isIosDevice is returning false for an iPad I have. I have a fix for it and would be happy to push up a PR.

[2020-03-10 21:53] diachedelic commented on #159
Already fixed in PR #155  - can you confirm that fixes your issue?

[2020-03-10 21:53] #159 closed

[2020-03-11 13:22] jamesirving commented on #154
same issue here... `style="overflow: hidden;"` is applied to the body element but this does not prevent scrolling.

[2020-03-11 18:10] TiagoSousa26 commented on #132
I think it interprets as zoom-out or zoom-in and restores the scroll bars. If you do a zoom out or a zoom-in it restores the scroll bars.

[2020-03-12 22:54] diachedelic commented on #154
I know nothing about Gatsby, but assuming gatsbyjs.org is developed using Gatsby, it forces the `<html>` element to scroll:

![image](https://user-images.githubusercontent.com/310464/76574475-84cb0080-6510-11ea-80db-b92be90d86b2.png)

Perhaps try running `enableBodyScroll(document.documentElement)` instead?

[2020-03-12 23:37] diachedelic commented on #156
Possibly fixed with #155

[2020-03-12 23:37] #156 closed

[2020-03-12 23:38] #149 closed

[2020-03-12 23:53] diachedelic commented on #134
iOS 13 support added with #155

[2020-03-12 23:53] #134 closed

[2020-03-13 00:40] #158 closed

[2020-03-14 03:10] ejoflo opened #163 "iPad OS 13.3.1 does not lock body scroll for "Request Desktop Website""
When testing body scroll lock on an iPad Pro using iPad OS 13, the user is still able to scroll the parent element. In my case, I am loading a Modal. The background (parent) is still scrollable.

If I "Request Mobile Site" body scroll lock works again. I also noticed that while in "Request Desktop Website" mode, the scrolling becomes glitched and element's z-index of modal and body sometimes overl

[2020-03-14 05:58] diachedelic commented on #163
Duplicate of #156 , which will be fixed in an upcoming release

[2020-03-14 05:58] #163 closed

[2020-03-17 13:15] ShayDavidson opened #164 "2.7.0 broke all ours apps in IE"
Due to the `module` addition to package.json, webpack took the `es6` version by default.

since our app (and most apps), don't transpile `node_modules` to es5, our app was broken in IE.

this should probably have been a major release so it doesn't get picked up automatically.

if there's a way to revert this change as 2.7.1 and release it as 3.0.0 it'd be good. i guess we are not the only ones to

[2020-03-17 22:38] diachedelic commented on #164
Whoops! Yes, bumping the major seems like the right approach. Just a note, I use [es-check](https://www.npmjs.com/package/es-check) to catch these issues before I deploy my projects - I have noticed a few packages switch to ES6 in a minor version change.

[2020-03-17 23:35] willmcpo commented on #164
Apologies.

I can release another minor to revert that part, and then, re release major with the change

[2020-03-18 02:39] willmcpo commented on #164
@ShayDavidson please roll forward to v2.7.1.

The breaking change has been moved to v3.0.0 as mentioned.

[2020-03-18 02:39] #164 closed

[2020-03-18 07:28] RealDyllon commented on #132
@TiagoSousa26 is correct. Since iOS 10, Safari prevents the webpage from blocking zooming, for "accessibility".

There is a way to block zoom in safari according to this stack overflow answer: [https://stackoverflow.com/a/38573198](https://stackoverflow.com/a/38573198).I have not tried it.

[2020-03-18 07:38] ShayDavidson commented on #164
@diachedelic wasn't aware of es-check. thanks! we'll start using it

[2020-03-19 13:02] fret2buzz opened #167 "Body is scrolling if target element has input field (iOS)"
Example:
https://codepen.io/vr201/pen/wvajprj

Description:
Body is scrolling if target element has input field with a parent container which has `position: relative;`. iOS12.

Steps to reproduce.
1. Open a modal by clicking on the "Launch demo modal" button
2. Scroll page starting with any input field

Actual result.
Body is scrolling. Target element is not scrolling.

Expected result.
Target ele

[2020-03-19 14:40] #167 closed

[2020-03-19 14:41] fret2buzz commented on #167
Closing since it's not related to body-scroll-lock

[2020-03-22 13:10] tony1377 opened #168 "Does not prevent scrolling when swiping on text field"
Hi, nice lib, seems like it covers most scroll locking issues but I noticed that the ios bug where scroll is initiated on a text field isn't prevented atm.

Here's a test case https://geyh3.csb.app/

Steps to reproduce:

Use iphone 6 ios 11 with Safari

1. Open the attached testcase in iOS Safari.
2. Tap the "Launch demo modal" button.
3. Tap into the 2nd text field.
4. Type some text.
5. Tap the

[2020-03-22 22:09] diachedelic commented on #168
I cannot reproduce on an iPhone 11 running iOS 13.3 in the simulator - does this only occur on real devices?

[2020-03-23 10:28] ahankara opened #169 "BUG: IOS touch event with links while body-scroll is locked"
I'm using this script to open a popup window with search results.
When my popup window appears with some results while I'm trying to scroll it if my finger tap on a link it starts to open. Is it possible to fix such a problem?

[2020-03-23 17:55] tony1377 commented on #168
I don't have access to many simulators via browser stack.

I can replicate it on the real devices for
* iphone 6s, ios 12, safari
* iphone 6 ios 11 with Safari

[2020-03-23 18:31] #169 closed

[2020-03-23 22:01] diachedelic commented on #168
Ok I will try it out on a real iPhone running iOS 13 and will see if I can reproduce

[2020-03-24 09:38] tony1377 commented on #168
It doesn't occur on ios 13 from what I could see, but it does on ios 12 & 11.
Do you have access to those?

[2020-03-25 04:27] diachedelic commented on #168
Looks like https://geyh3.csb.app/ is broken?

[2020-03-25 07:37] Aarbel commented on #61
Same problem here, @willmcpo  can you fix it ?

[2020-03-25 07:43] Aarbel opened #170 "Important: add more administrators on this lib"
Hi @willmcpo,

if you are looking for more administrators for this lib and repo, i can help you !

I think many PRS need to be tested and deployed right now.

Thanks a lot for your work

[2020-03-25 07:58] Aarbel commented on #170
@willpox you're also an administrator ?

[2020-03-25 21:00] AidanRRR commented on #154
Someone made it work on gatsby?

[2020-03-25 21:41] diachedelic commented on #154
@AidanRRR Can you try replacing all instances of `document.body` with `document.documentElement` in `body-scroll-lock` and see if that helps?

[2020-03-26 06:32] Modestas0 opened #171 "pkg.module JS code is not transpiled or minified"
According to Rollup docs JS file provided in "module" property of package.json should contain transpiled version of the library with ES2015 imports and exports. I do not think that this property should be used for providing ES6 version of the library.

https://github.com/rollup/rollup/wiki/pkg.module#wait-it-just-means-import-and-export--not-other-future-javascript-features

Newest version of the

[2020-03-26 15:37] tony1377 commented on #168
ah, looks like codesandbox have changed something about how they generate their urls, the same example now lives at https://geyh3.codesandbox.io/

[2020-03-26 21:58] AidanRRR commented on #154
It works, thanks!

[2020-03-26 22:31] diachedelic commented on #168
Okay I can confirm the issue occurs on iOS 12.4 but not iOS 13.3, on the iPhone simulator. Seems like more a bug with iOS than a bug with this library, and it's something of an edge case too - do you mind if I close this issue, seeing as it will be fixed with time? Unless you want to submit a PR...

[2020-03-30 12:23] kolnogorov commented on #106
I've set height for scrollTarget, but it still does not scroll.

[2020-04-02 16:34] Ariane-B opened #173 "Jiggling scrollbar on fixed scrollable menu"
This script works great with our full-screen scrollable menus. We'd ideally want to completely sync the body's scrollbar's disappearance with the menu's scrollbar's appearance so as to make the process seamless. In other words, it'd be nice if it only appeared as though the scrollbar suddenly changed lengths, instead a switch.

However, even when the `disableBodyScroll` and the `element.classList`

[2020-04-07 15:27] Ariane-B commented on #173
In case someone runs into the issue, I've figured out a fix that doesn't require modifying `body-scroll-lock`. Instead of applying my own class to decide whether the element scrolls or not, I just rely on the `body`'s `style` attribute.

[code]

It would be much cleaner if the script applied a class to the `body`, which I could then target instead of the `style` attribute, but it works.

[2020-04-07 22:47] diachedelic commented on #173
I think assigning a class to `body` is a great idea.

[2020-04-09 12:31] tony1377 commented on #168
Unfortunately I don't have time for that, might be worthwhile keeping this open incase others find workarounds later though?

[2020-04-09 21:17] mdhornet90 commented on #154
Confirmed this fixes my issue in a gatsby project as well, I have to hide overflow in the root in `componentDidMount` and delete that in `componentWillUnmount`. Any consideration for how this might still be incorporated into gatsby projects in a more general way?

[2020-04-09 23:18] diachedelic commented on #154
@mdhornet90 by root do you mean the `<html>` element?

Are you sure you replaced the `document.body` on [this line](https://github.com/willmcpo/body-scroll-lock/blob/5944b11066f478bd0eb149f65bee733d6fa14208/src/bodyScrollLock.js#L89)? It should apply overflow on the `<html>` element if you did.

[2020-04-12 19:25] mdhornet90 commented on #154
Yes, I'm referring to the `<html>` elements. I didn't want to modify the library in place or fork a custom version of BSL so this code:

[code]
Does the trick for my specific situation (overlay that prevents scrolling of everything except the content of the overlay)

[2020-04-13 01:53] diachedelic commented on #154
Well, perhaps we could restrict overflow of both `<body>` *and* `<html>`...can you think of any issues with this @willmcpo ?

[2020-04-15 14:46] kpratik2015 commented on #154
I had to do this:

[code]

[2020-04-24 11:36] firestar300 opened #174 "[3.0.1] Syntax error on IE11"
Hello !

I got this error en Internet Explorer 11 : `Syntax error` that point to :
[code]

I use Babel to transpile ES6 code to ES5 with Webpack but it doesn't work for body-scroll-lock part so I don't know if it's an issue with BSL or Babel.

My `.babelrc`
[code]

webpack.config :
[code]

Thanks for help.

[2020-04-25 11:18] sectsect commented on #174
@firestar300

Try the following.

### webpack.config.js
#### Solution 1
[code]

#### Solution 2
Transpile with Babel
[code]

See Doc `resolve.mainFields` https://webpack.js.org/configuration/resolve/#resolvemainfields

[2020-04-25 12:37] tu4mo commented on #174
Is there a reason why v3 is not transpiled to ES5 anymore? It's a bit inconvenient having to configure build tools just for this library.

[2020-04-25 15:22] firestar300 commented on #174
Hello @sectsect
Thanks for help ! The first solution worked for me.

[2020-04-25 15:22] #174 closed

[2020-04-25 19:26] dlong500 commented on #174
I agree with @tu4mo that the current state of the package is not ideal for people who use tools like webpack.  Ideally there would be a straightforward way to include both es5 and native code in a package such that build tools would have automatic options (based on target environments) to:
1) use the transpiled version for a given package
2) transpile the code for a given package

So far we are no

[2020-04-25 19:29] sectsect commented on #174
Related: https://github.com/willmcpo/body-scroll-lock/pull/93

[2020-04-25 22:35] willmcpo commented on #174
Hi David,

Thanks for your suggestion.

Would you mind creating a PR capturing this?

On Sun, Apr 26, 2020, 5:27 AM Davison Long <notifications@github.com> wrote:

[2020-04-26 01:50] diachedelic commented on #174
@willmcpo I already implemented this in #172

[2020-04-26 03:52] dlong500 commented on #174
I agree that #172 improves the situation, and I guess there's not much more that can be done to make things easier on end users without reverting to only offering the transpiled code (which I agree is also not ideal).  I don't know that I would call the situation fixed, however, when it takes tweaking webpack/babel settings to make things actually work.  Because webpack prefers the `module` field

[2020-04-26 05:59] diachedelic commented on #174
@dlong500 #172 actually does "only offer transpiled code": the end user can only obtain ES6 code by explicitly importing `body-scroll-lock/lib/bodyScrollLock.es6.js`. So no webpack configuration is necessary for the user.

[2020-04-26 06:24] dlong500 commented on #174
@diachedelic Sorry, that's not correct.  If that were true then my builds wouldn't be broken on IE11.  If the `module` field is present in package.json then webpack uses that by default instead of the `main` field.  Since the `module` field points to the ES6 code, then that is what webpack is using.  Subsequently, babel doesn't transpile the ES6 because code in node_modules isn't transpiled (also

[2020-04-26 06:36] diachedelic commented on #174
@dlong500 #172 has not been merged yet...sorry, didn't mention that! I appreciate your feedback of course. @willmcpo are you ok with me merging #172 ?

[2020-04-26 12:49] #171 closed

[2020-04-26 15:44] btdiaz34 opened #175 "Not Working for Android App"
I got the ES6 version to work on chrome, but when used for an Android app the body is still scrolling. Is there some additional config for an Android app?

[2020-04-26 23:13] diachedelic commented on #175
Do you mean a Cordova app or similar? If you inspect the DOM via [chrome://inspect/#devices](chrome://inspect/#devices), do you see something like `<body style="overflow: hidden">`?

[2020-04-27 08:27] sectsect commented on #174
Thanks guys.

@firestar300
v3.0.2 has been released.
You no longer need https://github.com/willmcpo/body-scroll-lock/issues/174#issuecomment-619363655 solutions.

[2020-04-27 16:59] firestar300 commented on #174
You are amazing guys ! Thank you all :)

[2020-04-30 09:04] wonderFF opened #176 "body-scroll-lock doesn't work with some android browser"
such as MI browser
version: 3.0.2

[2020-05-07 10:26] sairus2k opened #177 "Doesn't work on iOS"
The video was recorded on simulator iPhone 8 iOS 13.4
The same behavior is on device iPhone 5s iOS 12.4

![ezgif-3-e00cc8f4b1d4](https://user-images.githubusercontent.com/1106887/81283684-3b69de00-9087-11ea-8fa2-21987af39489.gif)

[2020-05-07 13:03] knynkwl commented on #177
+1 getting this issue as well.

[2020-05-15 08:13] etienneftn opened #179 "Inception v-body-scroll-lock"
Hello, I will have an issue to implement it inside an element in position fixe. I already use it on a first element to disable the body to scroll, but, this first element open an other element in position fixe. When I scroll on this element, the first one is scrolling too. Did someone already encounter the problem ?

[2020-05-15 19:03] hacknug commented on #177
Works fine for me on iOS 13.5 (17F5065a)

[2020-05-20 14:48] rss81 opened #180 "speed of scroll"
I notice that when body lock is enabled the speed of the scroll is slow.  Is there an option or way to increase the scroll speed?

[2020-05-21 14:50] ryanirilli commented on #177
See these lines in the src, you must provide a target element for this to work in iOS Safari. After I added a target it works for me.

https://github.com/willmcpo/body-scroll-lock/blob/master/src/bodyScrollLock.js#L147-L149

[2020-05-21 21:28] dyelax commented on #173
I ended up resolving this by using `react-remove-scroll-bar` instead, which doesn't have this issue

[2020-05-29 19:36] eni9889 commented on #177
I have a target element and it is still not working on ios 13.5 simulator

[2020-06-02 14:56] virginie-p commented on #177
Doesn't work on iOs either (Safari), the body doesn't have an inline style added (overflow: hidden;) but on Chrome (desktop) this inline style is here.

[2020-06-04 06:00] diachedelic commented on #177
I have tested `body-scroll-lock@3.0.3` in the iOS simulator running 13.5, with and without fixed elements, and it appears to work fine. Are you sure it is an issue introduced by iOS 13.5? Can you test with 13.4.1 @eni9889 ? Please supply a minimal reproduction if possible.

`overflow: hidden` is not added on iOS @virginie-p , instead the strategy is to block `touchmove` events.

[2020-06-05 10:14] benhuson commented on #157
I also get similar errors when trying to include with just the <script> tag and using Vanilla JS.

[2020-06-05 13:37] byrneciaran opened #181 "Prevent bounce on iPad Safari"
I'm testing on an iPad with Safari latest version. Scrolling vertically works fine, but as soon as I need to scroll vertically and horizontally, my content bounces.

Is there any way to prevent the bounce, while maintaining both vertical and horizontal scrolling?

See the white-space in the image below that shows the bounce ..

![IMG_944C7900E981-1](https://user-images.githubusercontent.com/908678

[2020-06-09 00:29] diachedelic commented on #157
What is the `src` attribute on your `<script>` tag?

[2020-06-09 14:00] MaximilianFranke commented on #128
For me it would be nice if the disableBodyScroll method could return a boolean, if there are still locks or not!

[2020-06-15 11:53] metinsut commented on #177
Same problem: bsl-3.0.3, IOS-13.5
bodyScrollLock.esm.js

line 210,211

Error -> Attempted to assign to readonly property.

[2020-06-15 22:03] apolopena opened #182 "disableBodyScroll: content scrolls back to top"
I am using React and the current scroll position is lost when `disableBodyScroll` is called.
In other words when I disable scrolling using `bodyScrollLock.disableBodyScroll` the the content locks properly  **_but_** it also autoscrolls back to the top of the page.
I am using https://cdn.jsdelivr.net/npm/body-scroll-lock@3.0.3/lib/bodyScrollLock.min.js

I have recreated the issue on [CodePen here](

[2020-06-15 22:27] benjaminhollissc commented on #182
I'm seeing this as well - it may have changed with a recent update.

[2020-06-16 01:27] diachedelic commented on #177
@metinsut are you sure you are passing a DOM element to `enableScrollLock`? See https://github.com/willmcpo/body-scroll-lock/issues/110

[2020-06-16 09:23] metinsut commented on #177
Uhh sorry my bad 🤦, I am so sorry for being careless.

[2020-06-17 00:24] diachedelic commented on #177
It's OK, there should be a better error message.

[2020-06-17 21:35] DanTheMan827 opened #183 "Able to bypass with two fingers on mobile safari"
if you use two fingers, you can bypass the scroll lock in mobile safari

[2020-06-19 08:57] dreamofdark opened #184 "Doesn't work correctly on iOS"
Content in targetElement doesn't scroll on mobile Safari

[2020-06-23 07:17] #128 closed

[2020-06-23 07:44] MaximilianFranke commented on #128
is this resolved?

[2020-06-23 18:17] Sequoia commented on #184
@dreamofdark Can you add more context here? What iOS device are you using? If possible, can you provide demo code?

(I ask because I am experiencing a hard-to-reproduce issue on an iPhone 11 that sounds similar to your issue.)

[2020-06-23 18:26] dreamofdark commented on #184
This reproduces in safari in the xcode simulator on iphone or ipad with ios 13.3.
I have modal window and content in this modal doesn't scroll
[code]

where el is container for modal window

[2020-06-24 00:46] diachedelic commented on #128
@MaximilianFranke i dont think so...

[2020-07-01 13:36] vvo opened #186 "You saved my day"
Hey there, I was struggling with trying to disable iOS Safari body scroll while working on a react select combobox component and your library saved my day, thanks a lot! It works perfectly for me :)

[2020-07-01 13:36] #186 closed

[2020-07-10 11:51] mrlss commented on #182
Hello. Any updates regarding this issue? Experiencing same issue in static site project.

[2020-07-14 01:10] diachedelic commented on #182
@mrlss are you using gatsby? more info here: https://github.com/willmcpo/body-scroll-lock/issues/154

[2020-07-15 08:38] S4n3L commented on #182
I had the same issue, and I found a solution for it here: https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/

And here is how I implemented finally. I ended up not using the body-scroll-lock package at all because this solution worked me on IOS too. I never tested it on Android though.

When you open your modal:

    if (isOpen) {
      document.querySelector("html").style.scrollB

[2020-07-15 22:34] alekslario commented on #182
Same issue here. Had to fallback to `overscroll-behavior:contain` that is supported by most modern browsers. It does has it's own quirks but at least it doesn't reset scroll position.

[2020-07-17 14:42] martinkutter opened #188 "Wrong scrollBarGap if a transition runs while activating scroll lock"
If a transition started immediately after `enableScrollLock` is triggered, the size of the scrollBarGap could be wrong depending of the browser performance.

[2020-07-17 14:49] martinkutter commented on #188
The issue is due to the asynchronous reading of the window size in the `setOverflowHidden` method. This is async because of an earlier performance fix for Desktop Safari. It is only necessary to set the overflow async, but it can be readed synchronous.

 Fixed by #189

[2020-07-17 18:12] jrDev1 commented on #157
hello,

I had this issue until I realized I was using the js version from the src folder. I found the correct file in the lib folder and used the raw version from here: https://github.com/willmcpo/body-scroll-lock/blob/master/lib/bodyScrollLock.js

Hope this helps someone since I gave up then came back; this should some else save some time!

Thanks,
jrDev

[2020-07-20 08:06] diachedelic commented on #157
thanks @jrDev1

[2020-07-20 08:06] #157 closed

[2020-07-20 08:16] #188 closed

[2020-07-22 07:55] reidterror commented on #182
I've been having the same issue. Running Nextjs with body-scroll-lock 3.0.3.
my component is set up with ref forwarding.

    import {disableBodyScroll, clearAllBodyScrollLocks} from 'body-scroll-lock';
    let component2;
    class Component1 extends Component {
        toggleComponent2 = () => {
            if (// logic to show element) {
                disableBodyScroll(component2);

[2020-07-23 05:58] benekoehler commented on #184
Hi, is there already a fix or workaround for this issue? I am too experiencing this issue.
Thank you :)

[2020-07-23 06:13] diachedelic commented on #184
@dreamofdark i changed your line
[code]
to
[code]

and it worked on my simulator running iOS 13.6 - make sure your `targetElement` is set to the element you actually want to scroll, not an ancestor thereof.

[2020-07-23 06:13] #184 closed

[2020-07-27 08:32] stefanvonderkrone opened #190 "IOS Safari scroll bug"
Video: https://imgur.com/a/1q90HoS

This video demonstrates an issue with Safari on iOS where body-scroll-lock cannot do anything to prevent the scrolling of the body if you're swiping at the very bottom. This doesn't seem to happen with all browser bars visible, but when they're hidden.

This issue seems to be related to #177

The problem occurs on a vertical swipe at the very bottom when the bro

[2020-07-27 23:50] diachedelic commented on #190
Looks like a regression of this well known bug: https://benfrain.com/the-ios-safari-menu-bar-is-hostile-to-web-apps-discuss/ - I wouldn't be surprised if it's already sitting in the webkit bug tracker.

[2020-08-13 04:26] lizy0329 commented on #154
How about this issus? @diachedelic

[2020-08-13 04:53] Artotim opened #192 "Enable body scroll not working sometimes"
Sometimes, the function to enable scroll has no effect.

As you can see on your own demo page:

![image](https://user-images.githubusercontent.com/55847858/90095407-efbe7480-dd06-11ea-8fd7-18b438780b51.png)

There is no scroll bar and I cannot scroll anywhere with the mouse wheel. It comes back if I click disable and enable again. But on my web page the user doesn't have this option.

[2020-08-13 11:17] ri-adam-wychowaniec commented on #192
I did a quick research and this seems to happen if you click "Disable" twice, and then try to enable it.
This happens because `disableBodyScroll()` does not check whether given element is already disabled, and effectively doubles the amount of locks on that given element.

[2020-08-13 11:17] adamwych commented on #192
I did a quick research and this seems to happen if you click "Disable" twice, and then try to enable it.
This happens because `disableBodyScroll()` does not check whether given element is already disabled, and effectively doubles the amount of locks on that given element.

[2020-08-14 02:27] lizy0329 opened #193 "Why listener return boolean? Does it make sense?"
const preventDefault = (rawEvent: HandleScrollEvent): boolean
const handleScroll = (event: HandleScrollEvent, targetElement: any): boolean

document.addEventListener('touchmove', preventDefault/handleScroll , hasPassiveEvents ? { passive: false } : undefined);

It doesn't make sense in listener return boolean, why do that?

[2020-08-14 11:20] malte1989 commented on #173
Thank you very much for the idea via the css selector!
I needed the idea with the css selector because I had a jiggling sticky tab because of the reserveScrollbar option (which works fine) but leads to transforming the fixed sticky. With additional css selector it works smooth.

body[style*='overflow'] #sticky-container {
    padding-right: 15px;
 }

[2020-08-14 12:41] Ariane-B commented on #173
I completely agree. I'm honestly a little disappointed the author wouldn't fix this. Almost makes me want to fork the project.

[2020-08-17 23:58] diachedelic commented on #193
I think that traditionally some event listeners may return `false` as an alternative to `e.preventDefault()`. Is this a problem for your use case?

[2020-08-18 00:23] diachedelic commented on #192
@adamwych Looks like `https://bodyscrolllock.now.sh` is deployed with an old version of the library. @willmcpo is this meant to update automatically?

[2020-08-18 02:28] lizy0329 commented on #193
No, I just curious to know that why return boolean type in listeners when check your source code. Thanks for your answer.

[2020-08-18 02:28] #193 closed

[2020-08-27 01:23] llausa commented on #100
Used this package in React, added the attribute to the component as a prop.

The rest of the code was as suggested by the Documentation.

To get this working, we grabbed  the component through a class and `<className>.setAttribute('body-scroll-lock-ignore', 'true')` within `componentDidUpdate()`

Keep in mind you could do the same with ID, jsut replace the code above with ID instead of Class stuff

[2020-08-28 05:48] shurinskiy commented on #177
Yes, this does not work on ipad ios 12.4.8

[2020-08-28 06:09] diachedelic commented on #177
@shurinskiy  bodyscrollock.now.sh uses a very out of date version of the library

[2020-08-28 13:17] willmcpo commented on #192
hey unfortunately there's no CICD setup to automatically update the demos. Apologies I'm a bit short of time. I've manually updated the demo and their links for now.

If someone could set up the Github Actions to get that up and running, that'd be cool =)

[2020-08-29 00:49] diachedelic commented on #192
@willmcpo  I would be inclined to use a `postpublish` hook rather than CI for this, that way the demo will always be running the latest version of the package.

[2020-08-30 21:03] martingarnett01 opened #195 "Using reserveScrollBarGap option with vanilla JS"
Hello,

I'm using the [vanilla JS implementation](https://github.com/willmcpo/body-scroll-lock#vanilla-js) of this library, however, I'm having struggles with passing in the `reserveScrollBarGap` option.

The body scroll lock is working absolutely fine, but I can't work out how to pass in the `reserveScrollBarGap` option?

This is what I have:

`bodyScrollLock.enableBodyScroll( lightbox, {reserveS

[2020-09-01 03:34] shurinskiy commented on #177
@diachedelic Too bad, it was a very handy thing. Can you advise what you can use instead?

[2020-09-01 03:40] pomacs-store commented on #177
@shurinskiy the Readme has recently been updated with latest library version and new Demo links.

[2020-09-01 03:41] diachedelic commented on #177
@shurinskiy this has just been fixed in #194

[2020-09-01 03:41] #177 closed

[2020-09-01 14:53] elrumordelaluz opened #196 "clearAllBodyScrollLocks stops working on 3.1.3"
Hi!
For some reason updating from `3.0.3` into `3.1.3` seems that `clearAllBodyScrollLocks` stops working as expected. I am using in an `useEffect` callback, something like:

[code]

Rolling back into `3.0.3` everything works well.

[2020-09-01 23:41] diachedelic commented on #196
Hi, can you tell us what device/browser you are using when you experience this?

[2020-09-02 07:49] elrumordelaluz commented on #196
Same behaviour in both `Chrome Version 85.0.4183.83 (Official Build) (64-bit)` and `Firefox 80.0.1 (64-bit)`.

[2020-09-09 10:24] fernandoabolafio commented on #196
Same here: Chrome Version 84.0.4147.135 (Official Build) (64-bit)

[2020-09-10 00:27] diachedelic commented on #196
Possibly fixed in #199

[2020-09-14 13:22] pbormodt opened #200 "touch scrolling on iOS will scroll the body BEHIND my modal (with enabled body scroll lock)"
**System:** iOS 13

**Description:** I am building a modal which opens in a layer above the content and displays e.g. some text. It should lock the body scroll. Scrolling inside the modal should be still possible.

**Problem:** On iOS 13 there is a problem with nested elements inside the modal. If the scrollable content is at the beginning or the end and cannot be scrolled any further, it is possi

[2020-09-14 18:51] jaimemnds commented on #196
It looks like both `clearAllBodyScrollLocks` and `enableBodyScroll` stopped working in my case.
I've rolled back to `3.0.3` and also got both of them working again. My usage is pretty much the same as @elrumordelaluz's.

[2020-09-14 23:52] diachedelic commented on #200
I think I may have noticed something like this before - is it related to scrolling momentum? I.e. is it only possible to scroll the body shortly after scrolling to the start/end of your modal?

[2020-09-15 06:25] pbormodt commented on #200
@diachedelic No it is possible the whole time. And only inside the element, I passed as a React ref to body-scroll-lock. So if I scroll in the header or footer of the modal, nothing happens (as supposed).

I noticed that adding `overflow: hidden` to the `<body>` on iOS seams to solve this issue. But I guess the overflow is not set for a specific reason on iOS.

For reference, in this [scroll-lock

[2020-09-15 07:08] pbormodt commented on #200
I created a codesandbox with simplified modal code. Unfortunately the scrolling in this example does not work at all on iOS ... not sure why but maybe it helps visualizing what I work with roughly.

https://codesandbox.io/s/priceless-germain-ffrbs

[2020-09-15 08:52] MylesKingsnorth commented on #196
I also can confirm `clearAllBodyScrollLocks ` and `enableBodyScroll` doesn't work in a `useEffect` on 3.1.3 but does on 3.0.3

[2020-09-15 09:01] diachedelic commented on #196
Could somebody please try applying the patch in #199 and see if that fixes it?

[2020-09-15 10:34] MylesKingsnorth commented on #196
Seems to work for me

[2020-09-15 12:39] pomacs-store commented on #196
published v3.1.5 with #199 change - hopefully fixes it

[2020-09-15 12:40] willmcpo commented on #196
Published 3.1.5 with #199  - hopefully fixes it

[2020-09-15 14:03] KKasabov commented on #196
Fixed it for me, thanks!

[2020-09-16 01:16] #196 closed

[2020-09-16 01:23] diachedelic commented on #200
Thanks for the info - if you can reproduce your issue within that code sandbox I will take a closer look.

[2020-09-16 06:26] pbormodt commented on #200
@diachedelic  Updated the sandbox. It now shows the problem. Thank you in advance.

[2020-09-17 07:08] paulborm commented on #195
Hi @martingarnett01, I think you have to use it on the `disableBodyScroll()` function enstead of `enableBodyScroll()`. Because you want the scrollbar to be reserved at the time you DISABLE the body scroll :-)

https://github.com/willmcpo/body-scroll-lock#reservescrollbargap

[2020-09-17 09:01] martingarnett01 commented on #195
Doh! Thank-you @paulborm ! Feel free to revoke my developer license on this one.

One question though, now that it works...

There's a slight delay with adding the padding, so the content shifts right, then shifts back very quickly. Any idea/thoughts on this?

Here's a recording from my site: [https://imgur.com/a/AD19P7k](https://imgur.com/a/AD19P7k)

[2020-09-17 12:45] doutatsu commented on #195
@martingarnett01 This is due to your transition timing. The way to avoid it, is to just add a timeout. For example, this is what I do for my modal transitions:

[code]

[2020-09-17 15:17] martingarnett01 commented on #195
@doutatsu Thanks for the reply. I tried your suggestion by adding a timeout to the enableBodyScroll function. Although it helps 'hide' the jank on the main page, it emphasises it on my modal:

https://imgur.com/a/5lEWfmT

It's almost like the bodyScrollLock function is first removing the scroll overflow, THEN it's adding the padding. Where it needs to do it both at the same time?

[2020-09-17 15:20] doutatsu commented on #195
@martingarnett01 I've noticed that there is some weird behaviour in the latest version actually. I myself reverted back to 3.0.2 version, as latest version introduced a jump to the scroll bar for me as well. Not sure if it could be your case as well, but I recommend you rollback to that version and check if it helps

[2020-09-17 16:01] martingarnett01 commented on #195
@doutatsu Hazah! That did the trick. Thank you so much.

As you can probably tell by my OP, I'm new to developing and so I have no idea what improvement to suggest to fix this. I've also never contributed to open source before (still looking for an entry-level project for me to work on, heh.)

Should I close this issue or leave it open for tracking purposes?

[2020-09-17 16:08] doutatsu commented on #195
@martingarnett01 No worries glad it worked. I couldn't quite see what the latest changes did that broke it, I suspect #189, but couldn't track down the issue, hence didn't open an issue myself. I'll leave this open for now and tag @willmcpo or @diachedelic so maybe they could take a look

[2020-09-17 20:40] valleywood commented on #200
I have the exact same problem. When I perform a touch gesture outside the modal the body starts scrolling and I need to click the modals scrollable area again (like I'm sort of activating it) before I'm able to scroll in the modal again.

[2020-09-18 00:00] diachedelic commented on #200
Are you able to avoid using `allowTouchMove`? I think that is what's causing your problem - any element for which `allowTouchMove` returns `true` basically has the bodyScrollLock library disabled for it. And it looks like you are setting `body-scroll-lock-ignore` on your root Modal element.

[2020-09-18 06:33] valleywood commented on #200
I need to allow touch move inside my modal since I have scrollable content inside my absolute positioned modal that covers 100% of the screen height and almost the full screen width (to make it behave like a drawer that slides in from the right)
Found no other solution currently than using this:

On open modal
[code]

And then reset body-style attributes on modal close on iOS using the same techni

[2020-09-18 06:40] diachedelic commented on #200
But can't you just do `disableBodyScroll(".modal-content-inner")`, without `allowTouchMove`?

[2020-09-18 07:16] pbormodt commented on #200
@diachedelic No because I have nested elements inside the modal that needs to be scrollable -> The `LayerContent`. I dont see a reason not to use `allowTouchMove` as it is a feature of this library for working with nested elements.

@diachedelic I'm not sure if I understand correctly. I am setting this attribute on the element which needs to be scrollable.

[code]

I can't use `disableBodyScroll`

[2020-09-18 07:22] diachedelic commented on #200
I've only ever used `allowTouchMove` for things like `textarea` and `input[type=range]` elements - it's more for when you specifically need `touchmove` events to come through, not for scrolling a regular div. If I were you I would wait until `ModalContent` is available and then call `disableBodyScroll` on it. You can use the excellent `MutationObserver` if React does not provide a way.

[2020-09-18 13:51] pbormodt commented on #200
Using some prop comparison on the react children and according to this assigning a ref to the ModalContent works in the sandbox example.

https://codesandbox.io/s/happy-burnell-43lem

I have to check if this solution is also valid on my prod system. The last time I checked something did not work.
I'll keep you updated

[2020-09-22 10:50] GeorgeHulpoi opened #201 "remove document.removeEventListener passive attribute."
You can remove where removeEventListener uses passive attribute at options.

```document.removeEventListener('touchmove', this.PreventDefault.bind(this), this.hasPassiveEvents ? { passive: false } : undefined);```

The main reason is that removeEventListener doesn't have that property:
https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/removeEventListener

And removeEventListener uses th

[2020-09-23 00:17] diachedelic commented on #201
From that page, it suggests erring on the side of caution:

[2020-09-23 07:53] #201 closed

[2020-09-27 14:47] jmikrut commented on #182
I am experiencing the same, with a custom non-SSR React app (no Next, no Gatsby). I feel like it wasn't always this way though and that this may have been introduced at some point over the last year.

Any update here?

[2020-09-28 00:42] diachedelic commented on #182
@jmikrut could you please try reverting #189 and/or #199, and see if that fixes the issue?

[2020-09-28 00:48] jmikrut commented on #182
You know what? I think my issue (and maybe others in this thread) was caused by CSS being applied to the `html` and / or `body` elements.

I had the following CSS in my app:

[code]

I removed them and the problem is gone. I suggest others in this thread check for similar results!

[2020-10-05 17:36] mxeff opened #202 "disableBodyScroll with scrollY > 0 leads to a gap on Firefox Mobile"
**Browser:** Firefox Mobile 81.1.1

**OS:** Android 10

**Description:** I'm building a fixed scrollable list with 60% viewport height.

**Problem:** When calling `disableBodyScroll` on the list with a `scrollY`-Value greater than 0, scrolling to the bottom of the fixed list leads to a gap above the `html`-tag.

**Example:** https://meowing-wry-mice.glitch.me/ (I included a timeout of 2000ms to be

[2020-10-05 23:07] diachedelic commented on #202
I can't replicate on Firefox v81 on MacOS - seems like a Firefox Mobile bug. Can you use devtools or something to find out what the gap consists of (e.g. is it margin, padding etc)?

[2020-10-06 06:43] mxeff commented on #202
Sure, here you go - it doesn't seem to be a styled spacing. I'm guessing that it's caused by the sticky address bar.
![Screenshot_20201006-083552_Firefox](https://user-images.githubusercontent.com/23153018/95167303-b7d82880-07af-11eb-937f-3c260356a9ed.jpg)

When toggling `overflow: hidden` on `html` via DevTools the gap disappears until I scroll again in the list and reach either the top or bottom

[2020-10-06 22:52] diachedelic commented on #202
This looks very much like a bug in Firefox Mobile - if you can find a workaround we might be able to use it.

[2020-10-08 16:21] namello-zmtp opened #203 "[iOS] Lock the body, create a child that's scrollable and put a button that's disabled. Double tapping on the button permanently breaks the view"
It moves the body up and I haven't quite figured out how to move it back to normal...

[2020-10-08 21:57] diachedelic commented on #203
Can you create a reproduction on e.g. https://codesandbox.io/ please?

[2020-10-20 05:49] seleckis commented on #75
@Sexual tried your solution, it does not work.

I have tested this case and as a result I can confirm that iOS Safari address bar is collapsed when body is not locked when scrolling inside iframe. BUT, if you tap on address bar and expand it, then open modal with iframe and scroll inside it, then body is locked! I hope this information can help you.

[2020-10-27 03:19] abeledovictor commented on #100
@llausa mind creating a small snippet/code sandbox for react?

I'm struggling with the same problem, for now, I avoided using the scroll lock in just one view where I have a drawer where I need the scroll

[2020-11-03 20:53] TheMangoTrain commented on #173
Any way to not have hard-coded pixel values here? Surely scroll bar widths differ across browsers/OS's/devices.

[2020-11-03 23:06] Ariane-B commented on #173
@TheMangoTrain Absolutely! It was just an example.

Take a look at this Stack Overflow question:
https://stackoverflow.com/questions/13382516/getting-scroll-bar-width-using-javascript

Personally I like to save that value soon in my page's lifecycle into both a global variable (property of the `window` object) and a CSS variable (custom property of the `html` element), so that I can access it anyw

[2020-11-04 01:45] TheMangoTrain commented on #183
Confirming I see this on iPad Safari, iOS 13.6.1

[2020-11-11 22:56] dancherb opened #204 "Doesn't work on iOS mobile devices"
Works great on desktop browsers and the mobile device view in Chrome's dev tools.

On iOS Safari, Chrome and Firefox, the body scroll locks but I'm unable to scroll in the modal opened by touching. Two-finger scroll seems possible but is buggy and also scrolls in the body element.

[2020-11-12 00:32] diachedelic commented on #204
Are you talking about the [this demo](https://bodyscrolllock-modal.vercel.app/)?

[2020-11-13 18:44] TheMangoTrain commented on #200
Just providing our experience...

Problem:
We use body-scroll-lock when we open a sidebar drawer menu. Body scroll is locked successfully on all devices including iOS. However, the scrolling of our target element (the sidebar drawer) didn't work on iOS (it worked everywhere else).

Ultimately, applying this on the target element was the key:
`-webkit-overflow-scrolling: touch`

In addition, the ch

[2020-11-18 15:56] gauthierblanpain commented on #204
Have you got your target element set as the element that is meant to carry on scrolling? i.e. the element with overflow: auto

I was experiencing exactly the same issue you are and it was because I was accidentally targeting the parent element to the div actually doing the scrolling.

[2020-11-26 06:30] diachedelic commented on #146
Fixed in #147

[2020-11-26 06:30] #146 closed

[2020-11-26 21:48] Brianzchen opened #205 "Expose flow types?"
Any thoughts on exposing the source code as `index.flow.js` files so that flow projects can consume them?

Or should we just add a def in `flow-typed` repo?

[2020-12-01 13:56] WickyNilliams commented on #154
I am not using gatsby, though I have noticed the same issues when doing SSR where `disableBodyScroll` is called on the server, and then `enableBodyScroll` on client.

When calling `enableBodyScroll`, this lib checks its `previousBodyOverflowSetting` and `previousBodyPaddingRight` variables to know what to revert to re-enabling scrolling. However those variables will never be set when the environme

[2020-12-02 02:57] diachedelic commented on #154
@WickyNilliams why is `disableBodyScroll` called in an SSR environment?

@lizy0329 A solution for this might be to change `body-scroll-lock` to prevent overflow on both `document.body` _and_ `document.documentElement`. I don't have time to do that right now, but if anyone would like to try and test that approach then submit a PR that would be great!

[2020-12-03 11:57] alexanderKhvostov opened #206 "Body scroll is not blocked"
Hi, sorry but it doesn't work :(
I still can sometime scroll body. Maybe Apple again has changed something?

Iphone 11pro IOs 13.6.
https://www.loom.com/share/9fe89fe098e64e64a26d5533f9921f29

[2020-12-04 16:25] fresswolf commented on #204
Exactly this demo doesn't work on iOS 14.2. Once you first scroll down a bit to hide the bottom safari navigation bar and then open the modal, one can still scroll the body.

[2020-12-08 08:51] WickyNilliams commented on #154
@diachedelic excuse the delay, forgot to respond!

It's called in server because I may want to show a modal pre-opened on page load. I'm sure there are plenty of other use-cases besides.

In any case, whether calling at build-time (SSG) and server-side (SSR) the problem is the same - the assumption that enabling and disabling scrolling will always happen in the same environment

[2020-12-10 00:39] diachedelic commented on #154
@WickyNilliams If I were you I would avoid locking the scroll in anything but a browser environment, as it just does not make sense to do so on the server. Is a way for you to determine which environment you are in?

[2020-12-10 08:48] WickyNilliams commented on #154
@diachedelic shall i create a separate issue to discuss? I feel I am distracting from the original issue here (i misread originally, which is why i commented here, but this issue is not related to my question)...

I think there are valid reasons to call on the server, and from a dev perspective the less you have to special-case the server environment, the better. I have a few ideas in mind that co

[2020-12-10 22:55] diachedelic commented on #154
@WickyNilliams Yes, this belongs in a seperate issue. But I think you need to understand that disableScrollLock adds event listeners etc, it does not just modify the DOM. It just does not make sense to call it in a server environment. You should call it immediately after "rehydration" if you need a modal to appear immediately.

[2020-12-14 08:17] jvitela commented on #206
Hi, @alexanderKhvostov you have a look at this pull requests and see if it works for you:
https://github.com/willmcpo/body-scroll-lock/pull/207

[2020-12-14 08:19] jvitela commented on #204
could you have a look at this pull request and see if that solves your problem?
https://github.com/willmcpo/body-scroll-lock/pull/207

[2020-12-18 10:30] dattm97 commented on #94
Issue still have in latest version. Any idea to fix it?

[2020-12-21 04:19] dattm97 commented on #94
I have the same issue. I have no idea to fix it. Anyone help me please?

[2021-01-03 17:15] jtomaszewski commented on #182
Same here.

I guess body-scroll-lock could warn in the console if `html` / `body` elements has those styles on themselves. (Or alter the styles - by removing `height: 100%` if body is larger than the screen.)

[2021-01-06 05:35] jamesjsewell commented on #108
@chrishale gonna try this out, hopefully it remains compatible? as long as it works with the current version i should be fine. Would be nice if this was added to the code base as an option

[2021-01-06 05:56] jamesjsewell commented on #108
@chrishale your solution is working beautifully so far, not sure what it would take to get that in the codebase of this repo. if been pulling my hair out trying other peoples solutions but none of them were addressing the html scroll issue. Thanks a million!

[2021-01-08 15:25] ahmed-saber opened #210 "allowTouchMove method should support us with the event"
Hi, I really like this library, but I have an issue with the allowTouchMove method it only gives us the element but not the event it self and In my situation, I need to track the user movement?

[2021-01-11 04:22] jamesjsewell commented on #108
also a different project ( static html site ) im using the cdn, what should i do in this case? same issue where the scrollable element is the html and not the body. in this case since it's a static site should i be able to set the scrollable element to the body?

[2021-01-12 15:14] foolip opened #211 "Is there a Safari/WebKit bug for this?"
I learned about this library as part of my work on https://insights.developer.mozilla.org/reports/mdn-browser-compatibility-report-2020.html, where one developer said this:

Today I took a look at this repo to try to understand what difference between Safari/WebKit and other browsers makes this workaround necessary, but reading the different code paths depending on `isIosDevice` I'm not sure I und

[2021-01-16 13:39] brunostasse commented on #211
The difference between WebKit on iOS and all other browser engines is that it doesn't allow to reliably prevent body scrolling by setting `overflow: hidden` to the body, as it should.

This is a very (very) long-standing issue with WebKit on iOS. Setting `overflow: hidden` to the body used not to prevent body scrolling in any situation before recently (one or two years ago). The situation has now

[2021-01-18 11:16] diachedelic commented on #210
You are right, the event should be passed as the second argument.

[2021-01-18 13:40] horaklukas commented on #206
I experience the same issue at least on iOS 12 😕

The PR #207 is not helpful, settings `overflow: hidden` is not a solution.

[2021-01-21 08:54] dar-puch opened #212 "When computedBodyPaddingRight will be available?"
Hi! I’m using body-scroll-lock with modal displayed over body which already has paddings set. I get content flickering, even with the newest version of the library. I can see in src that there’s already fix for that (as a computedBodyPaddingRight) but it’s not in the lib files. When you are going to release next version of the package containing those changes?

[2021-01-22 20:06] foolip commented on #211
Thank you for all the details, @brunostasse, that's great! Sounds like I should test various combinations of `overflow: hidden` across browsers and see if I can find existing (failing) tests and browser bugs for differences, mostly WebKit bugs that is.

Assuming that `overflow: hidden` worked perfectly across browsers, would JS still be required to prevent scrolling in the scenarios this library i

[2021-01-24 11:26] jvitela commented on #206
Hi @horaklukas,

Can you please elaborate how did you test PR #207 ? Did you inspect the dom to make sure `overflow: hidden` was actually applied to the body element?

[2021-01-25 17:40] musicjunk opened #213 "Don't know how to add the options. Specially the reserveScrollBarGap. Where are the default options?"
Hi, I tried to set the options for the reserveScrollBarGap. I don't know how to do it.
In all demos there are no options set and I can't find the default option set. Where can I find it?
Is there any demo with options or the reserveScrollBarGap?

[2021-01-27 05:42] diachedelic commented on #213
The second argument passed to `disableBodyScroll` may be an object containing the options, see https://github.com/willmcpo/body-scroll-lock#functions

[2021-01-27 05:42] #213 closed

[2021-01-27 05:54] diachedelic commented on #211
@foolip I imagine that [`overscroll-behavior`](https://developer.mozilla.org/en-us/docs/Web/CSS/overscroll-behavior) will be a great solution once widely supported.

[2021-01-27 13:12] brunostasse commented on #211
@foolip There is at least one other case in which you'll find that `overflow: hidden` is not working properly, that is in Firefox (at least in Android I think) when the page has the viewport metatag `user-scalable=0`. In that case, body scroll is indeed prevented, but the body is also being scrolled to the top, which is not desired.

Regarding other scenarios where this library might still be usef

[2021-01-27 18:54] musicjunk commented on #213
Hello diachedelic,
thank you for answering. But I've kown the site https://github.com/willmcpo/body-scroll-lock#functions already.
Everything I tried doesn't work. Well, I ask for a working example. So please don't think you know what's on my mind. I've never closed a answer of anybody, because I don't know if it is realy answered or if the questioner understood the answer indeed. So it will be co

[2021-01-28 03:45] diachedelic commented on #213
There is an example, here: https://github.com/willmcpo/body-scroll-lock#reservescrollbargap

Perhaps it is not working how you expect?

[2021-02-10 05:33] yoonjaepark commented on #206
Hi @jvitela

In some cases, the scroll has arrived at the bottom of the scroll element area. If there is a scroll in the content area, the scroll of the content moves.

<body>
  // scroll content
  <div>
  </div>
  // scroll popup element
  <div>
  </div>
</body>

[2021-02-16 04:49] ryanbadger commented on #211
iOS seems to support overflow:hidden on body now, can it be added in?

[2021-02-27 14:28] JeremyColton commented on #183
Confirming also on iOS 12.4.6, iphone Safari. Is there a work-around?

[2021-03-01 09:21] st-h commented on #211
@ryanbadger are you sure? I just installed `body-scroll-lock` because I was unable to get `overflow: hidden` working correctly on the body with iOS 14.4

[2021-03-12 09:55] JonesTwink commented on #206
@jvitela unfortunately this doesn't help. Since OP haven't provided much details I'd like to elaborate on when this bug might be seen.
There're two conditions required for this bug to happen:
1. Safari's toolbar (which is located on the bottom of the screen) must be hidden
2.  User's finger must be placed on the bottom of the screen
If this two conditions are met and user starts scrolling, it will

[2021-03-31 18:13] hellodavecooper commented on #154
I was also having this problem, in Gatsby v2.32.10, with body-scroll-lock v3.1.5. My requirement was to lock the scroll when a modal side-navigation "drawer" was open.

The solution in https://github.com/willmcpo/body-scroll-lock/issues/154#issuecomment-612664227 improved the situation, but I also had to dynamically set the `height` style of the `#gatsby-focus-wrapper` div, like this:

[code]

[2021-04-14 15:19] cristidrg commented on #204
mersi mult, te pwp pe pula!

[2021-04-27 21:40] minemindmedia opened #219 "Zero luck getting this to work"
Hopefully someone can help point me in the right direction. I am using the [Sage 10](https://github.com/roots/sage/tree/10.0.0-dev) theme from Roots and I have a modal window that fires with [AlpineJS](https://github.com/alpinejs/alpine) and I just can't seem to get this to work.

Here's my `app.js` file:

[code]

Here's my modal blade view file:

[code]

My console doesn't throw any errors unless

[2021-05-05 00:58] diachedelic commented on #219
I am not familiar with the frameworks you mention, but it could be that your template is not yet rendered when you call disableBodyScroll.

[2021-05-11 19:51] minemindmedia opened #222 "Multiple Modals on the same page?"
Hi, I've finally managed to get this to work properly but I'm wondering how to set this up to work with multiple modal windows on the same page.

For example, I have a mobile menu that opens a modal on every page, then I have other modals that open up forms. I've added 'lock' as a class to use for my modals but it only works for the first modal, my mobile menu and doesn't work for the others.

Her

[2021-05-12 00:06] diachedelic commented on #222
I also ran into this issue, and I ended up making a Vue mixin which locks hides the overflow of all ancestor elements. Perhaps you can use it as inspiration: https://gist.github.com/diachedelic/b7e9ce7063e87f452d0a5a1ac4ad7a8f

[2021-05-13 17:33] minemindmedia commented on #222
Thanks for the response but I'm not too sure I understand this.
It should be a lot more simple to apply this to multiple modal windows imo.

[2021-05-14 00:54] diachedelic commented on #222
I agree. If you find a way please let me know.

[2021-05-14 22:43] minemindmedia commented on #222
@diachedelic - I discovered a different package based on this one which works really well and is easier to setup imo.
https://github.com/tuateam/tua-body-scroll-lock

[2021-05-15 04:06] diachedelic commented on #222
Thank you, at some point I will replace my hideous solution with that one (providing it works for me). I'm closing this as it sounds like switching to the other package has solved your issue.

[2021-05-15 04:06] #222 closed

[2021-06-15 11:47] chendong-xie commented on #206
hi，did you solve it?

[2021-06-15 12:09] jvitela commented on #206
Hi @chendong-xie and @JonesTwink,

Yes, my [last change](https://github.com/willmcpo/body-scroll-lock/pull/207#issuecomment-815937919) fixes this issue. Setting `position:fixed` forces the browser to display the toolbar and therefore there is no scrollable area.

Please do test the latest changes of the [feature branch](https://github.com/jvitela/body-scroll-lock/tree/patch-1) and confirm if it al

[2021-06-16 03:19] chendong-xie commented on #206
hi @jvitela this way looks ok, thank you for your reply.
when you plan to release this feature?

[2021-06-16 07:09] jvitela commented on #206
hi @chendong-xie,

That question should be answered by @willmcpo

[2021-06-23 13:21] #212 closed

[2021-06-23 13:21] #211 closed

[2021-07-08 19:34] Amstrong commented on #204
Well, the last release version is beta. If you want solve the problem, a fast solution is install this version: 2.6.4, works perfect for me.

`yarn add body-scroll-lock@2.6.4
 npm install body-scroll-lock@2.6.4
`

[2021-07-27 14:56] n19htz commented on #206
if you solving it with ```position: fixed``` you gotta be aware of scroll reset, i e for example you clicking a button that opens modal and that button is at middle of document (i e scrollTop > 0). Than when you lock the scroll with forcing safari to show bottom bar (by setting ```position:fixed```) your scroll is gonna reset (scrollTop === 0)

[2021-07-27 15:10] jvitela commented on #206
@n19htz  Do you mean this? https://github.com/jvitela/body-scroll-lock/blob/3b7877b77c997751ff484a5f89ca2eeb5fda1bed/src/bodyScrollLock.js#L120

[2021-07-27 15:12] n19htz commented on #206
yes, i've tried 4.0.0-beta version and scroll restoration does not work there

[2021-07-27 15:18] jvitela commented on #206
@n19htz Could you please provide a minimal reproducible example? or in case it happens with the included examples a video showing the issue would be great, and please indicate the browser and OS versions.

[2021-07-27 15:43] n19htz commented on #206
https://user-images.githubusercontent.com/39006390/127184638-75b0282e-e99b-4f1a-9b32-56af224ec8a4.mp4

[2021-07-28 14:36] mindnektar commented on #182
I've figured out what the problem is and made a pull request: https://github.com/willmcpo/body-scroll-lock/pull/228

[2021-07-28 18:47] apolopena commented on #182
This did not solve the problem for me in the chrome web browser

[2021-07-28 18:49] apolopena commented on #182
Looks like this should solve this issue in a web browser as well?

[2021-07-29 09:15] mindnektar commented on #182
I personally didn't have this issue in a web browser, and the `setPositionFixed` function will only be called for iOS devices.

[2021-07-29 10:13] pawelbujna commented on #206
I have a quetion, will this fix also fix the problem with jumping layout when clicking on inputs inside modals? I know that position: fixed casues the bug  it happens only on scrollable elements. To fix my case i had to completely hide the page contents and display only a modal. Feels like it could be part of this bug.

Example video:

https://user-images.githubusercontent.com/7709957/127474305-2a

[2021-08-13 12:22] Trendymen commented on #206
[code]

[code]

[2021-08-13 12:25] jvitela commented on #206
Hi @Trendymen  and @pawelbujna,

Please check https://github.com/willmcpo/body-scroll-lock/pull/229

[2021-08-14 01:16] #182 closed

[2021-08-20 05:50] aizigao commented on #94
you can get real areaSize by window.visualViewport in ios13

[2021-09-17 12:52] krutoo opened #233 "iOS: Problem with modal child with horizontal scroll"
Hi, first of all thanks for great library!

In my project i use `body-scroll-lock@3.1.5` in i found strage bug in complex usage case.

In mobile version of my app i have a "screen" that overlaps the content of the body of the page.

There is a "slider" on this screen - a block with horizontal scroll able.

I noticed that in the case where the screen is completely scrolled vertically, the child sli

[2021-10-04 20:47] silvenon opened #235 "Scrolling enabled in browser as soon as enableBodyScroll is called once, regardless of number of locks"
Hey! I'm having a little trouble understanding how enabling scrolling is intended to work in this library. I see that elements are being tracked in the `locks` array, but this is only used for scrolling on mobile; in the browser scrolling enables as soon as I call `enableBodyScroll`, I would expect scrolling to be enabled once the last "lock" is cleared. 🤔

[2021-10-05 02:02] diachedelic commented on #235
An astute observation! Can anybody provide some insight?

[2021-10-07 09:29] snax4a commented on #182
I confirm that downgrading to `^3.1.5` fixes this issue

[2021-10-09 11:20] alexfoxy opened #236 "Safari toolbars on iOS 15 show and hide when scrolling within a scrollable element"
Testing the modal example on iOS 15 safari. Even though the body is locked in scroll position Safaris toolbars disappear / re-appear when scrolling inside a scrollable element. See video:
https://user-images.githubusercontent.com/151772/136651702-113ee9db-3e0c-4c33-b161-ad676a39c27d.mov

This is present in iOS 15.1 beta 3 also.

[2021-10-09 16:07] PASHANSX commented on #236
The latest version body-scroll-lock has not been uploaded to npm.
The problem was [that:](https://github.com/willmcpo/body-scroll-lock/pull/228)
from
    document.body.style.top = -scrollY;
    document.body.style.left = -scrollX;
to
    document.body.style.top = `${-scrollY}px`;
    document.body.style.left = `${-scrollX}px`;

If you use the code from github, then everything will work correctly.

[2021-10-11 06:15] alexfoxy commented on #236
I tried out the latest version from the repository and it is still an issue on iOS 15: https://codesandbox.io/s/bsl-ios15-z647i

[2021-10-12 14:47] benoitbohnke commented on #236
Same here on 15.0

[2021-10-19 07:32] devsangwoo commented on #182
still have issue

[2021-10-19 19:03] silvenon commented on #235
Would you accept a PR?

[2021-10-25 16:02] AlexandraKlein opened #237 "When enabled, scrolls to top of document in iOS Safari on Version: 4.0.0-beta.0"
### Version: 4.0.0-beta.0

Adds `position: fixed` to body on iOS, which causes the document to scroll to the top. This did not occur on previous version (**v3.1.5**).

<img width="347" alt="Screen Shot 2021-10-25 at 8 58 49 AM" src="https://user-images.githubusercontent.com/6663760/138730277-4a734b7b-f17b-42b6-b829-1e00953af7eb.png">

[2021-10-27 11:05] ipolikarpov commented on #237
I can confirm this

[2021-10-28 15:30] adamhake opened #238 "Header Logo doesn't change to stacked version on Mobile"

[2021-10-28 15:30] #238 closed, assigned to nobody

[2021-10-29 14:47] ovenum commented on #237
Same here on iOS 15.0.2.
Workaround until this is fixed could be to offset the body position with `window.scrollY` and restore this when enabling body scrolling again.

[code]

4.0.0-beta.0 is currently the version pulled from npm when no version is specified, so more people might come back with this issue.

[2021-11-09 11:06] gayancharith commented on #15
I also got this issue, only for ios safari. anyone knows about a solution ?

[2021-11-11 09:17] krutoo opened #239 "Scroll bar width calculated incorrectly"
Hi, first of all, thanks for great library

In the source code there is a calculation of the scrollbar width
https://github.com/willmcpo/body-scroll-lock/blob/79c4cf2c956eb7d5cf8d54a03d12751bc6ac8aa3/src/bodyScrollLock.js#L76

[code]

it doesn't work correctly if the body has styles `min-width: 995px` and page has meta:
[code]

It looks like:
![image](https://user-images.githubusercontent.com/1314

[2021-11-15 19:51] vincerubinetti commented on #53
Can this just be merged into the repo? In my (admittedly limited) TS experience, that module definition seems to be fine. Would be nice to not have to add a bunch of lines to my TS shims file just for one small package in my app.

[2021-11-15 19:54] vincerubinetti commented on #53
Ah nevermind, it seems like the types are available in this `@types/body-scroll-lock` package. In that case this issue can probably be closed.

[2021-11-16 00:17] r0ughnex commented on #239
I can confirm this happens 👍

[2021-11-19 16:26] thexpand commented on #180
Perhaps you're missing `-webkit-overflow-scrolling: touch;`?

[2021-11-28 20:17] #205 closed

[2021-12-01 11:21] AVL68 commented on #239
Good day! Any comments from the developers of this library?

[2021-12-03 23:03] naydenoff opened #240 "Enabling and clearing body scroll don't work on iOS 15.1"
Disabling body scroll works properly.
Unfortunately both enableBodyScroll('.lock') and clearAllBodyScrollLocks() don't enable scrolling.

I've only observed this to be the case only with iOS browsers - iOS Chrome and iOS Safari.

[2021-12-05 18:34] #240 closed, assigned to nobody

[2021-12-07 13:49] snowsergo commented on #204
Hellow, I have the same problem. Please, can you say how did you fixed this.

[2021-12-07 16:06] vitaliy-bdk opened #241 "The scroll lock does not work if you swipe with two fingers at the same time"
Hey! Also, such a bug is found in the original demo. Please tell me how you can fix it?

[2021-12-08 08:06] jvitela commented on #204
Hi, @snowsergo please make sure you are testing with the branch from this pull request: https://github.com/willmcpo/body-scroll-lock/pull/229. That branch contains the latest fixes which are not yet merged to the main branch.

[2021-12-10 09:18] One1L commented on #236
Pls update banner in readme https://imgur.com/Wyl0Erw

[2021-12-15 17:18] yuittti commented on #154
@hellodavecooper It's more likely there could be a potential issue with one part of your solution - you are setting `overflow` to `auto` on closing but `auto` isn't a default value of `overflow` and it has a little bit different behavior. I suggest setting `overflow` to `visible` as it is a default value of this property.

[2021-12-15 19:27] didkan commented on #233
I have the exact same issue. It was driving me crazy until I realised that body-scroll-lock was causing the issue.

I also have a `position: fixed` modal that activates `disableBodyScroll` when opened and in that modal a horizontally scrollable div.
My problems were that on IOS Safari the scrollable div would randomly work or not. It almost seemed like the direction you moved/dragged your finger h

[2021-12-15 22:16] didkan commented on #233
@krutoo
I managed to "fix" this by using the `allowTouchMove` option as described here: https://github.com/willmcpo/body-scroll-lock#more-complex
and adding `body-scroll-lock-ignore` attribute to all my horizontal scrollers in the position fixed modal.
Worked like a charm!

Much more elegant than "-1px scrollTop" hack.

[2021-12-20 15:01] kfw9257 commented on #182
still dealing with this issue even after downgrading. I was able to get it working using the solution @S4n3L provided.

[2021-12-22 06:19] webdiller commented on #110
Works for me too

[2021-12-23 12:51] krutoo commented on #233
@didkan Thank you for your answer! Looks like it is really worked

[2021-12-24 19:38] JoshuaHintze commented on #237
Confirming and following to see when there is a fix, for now I'll roll back.

[2022-01-17 04:55] #233 closed, assigned to nobody

[2022-01-25 17:33] PyrokineticDarkElf opened #243 "Still able to scroll"
I've tried this on Codepen and a simple page seems to work fine.

When I add it to my website, the script runs and the overflow style is applied to the body, but, I'm still able to scroll up and down the page? (Win 10 Chrome v97.0.4692.99)

Happy to provide a link privately.

[2022-01-27 07:24] ryanbadger opened #244 "Doesn't seem to lock HTML tag scrolling"
Not sure if it was intentional, but if the html element has any form of overflow:scroll set in the CSS, this lib doesn't work fully, you can still scroll.

A quick fix is just to add the scroll lock to the HTML tag when scroll is disabled:

**document.documentElement.style.overflow = "hidden";**

[2022-02-08 13:50] dafcoe opened #247 "iOS Devices: "restorePositionSetting" can run before "setPositionFixed""
In some situations it can happen that "restorePositionSetting" runs before "setPositionFixed" when calling "enableBodyScroll" right after "enableBodyScroll" and therefore the scroll lock is not being released due to fixed positioning on target element.

Example: https://codesandbox.io/s/wizardly-sound-53xgy

Possible fix: by wrapping `restorePositionSetting` logic on a `requestAnimationFrame` meth

[2022-02-28 15:47] jirbjirbjirb commented on #237
Ran into exactly this same problem today! @basics09 thanks for the quick hack. Hope this gets resolved soon

[2022-03-09 03:50] joz3l commented on #237
<img width="689" alt="bsl_error" src="https://user-images.githubusercontent.com/54489865/157368646-db46e747-521c-4c09-a9a7-8b8f0a7bac91.png">

@willmcpo Not sure if cause of error, but the highlighted line 130 should probably be ``document.body.style.top = `-${scrollY + bottomBarHeight}px`;`` like the others. It seems related since when disabling scroll after bottom bar is hidden a blacked out reg

[2022-03-10 14:47] charkour commented on #204
To enable scrolling of target elements on iOS, you need to enable it in options.

[code]

[2022-03-19 03:51] AlexCheongIE opened #250 "Inset of iOS devices is scrollable on modals"
I have noticed that the inset on iOS devices are scrollable when a modal is open. I have read most of the issues related to iOS here and it has no mention on this inset.

The fix for this is usually to add in `viewport-fit=cover` to the viewport meta tag and then the relevant paddings based on the CSS envrionment variable `safe-area-inset-*`

`<meta name="viewport" content="width=device-width, ini

[2022-03-22 10:34] AnhTuanOkeT commented on #182
Yeah downgrading to `3.1.5` fix this issue

[2022-03-28 15:16] h-jennings commented on #182
Downgrading to `@3.1.5` fixed this issue for me as well

[2022-04-09 07:23] TangoPJ opened #251 "The content is twitching 15px from the right on MacOS Safari"
How can I solve my problem, I'm using the package in my Nuxt.js project, in the chrome browser it works without problems, but when I open localhost in the Safari - the content is twitching 15px from the right?

[2022-04-23 17:13] felixnikultsev opened #252 "Black bar at bottom when safari toolbar is hidden on iOS 15"
![photo_2022-04-23 20 09 56](https://user-images.githubusercontent.com/57500835/164916410-7e4933f1-b9b4-4c9c-b993-2bf93defd418.jpeg)

I get a black bar at the bottom after opening a modal when the safari toolbar is hidden.
How can I fix it?

[2022-04-25 19:45] #252 closed, assigned to nobody

[2022-04-28 21:09] juliocbgomes commented on #84
I had this same problem developing a webview with Angular.
I needed to create a list of cards in a horizontal scroll and for some reason it wasn't working.

Strangely this line of code solved my problem, even though it did "nothing".

`ngAfterViewInit(){
    fromEvent(this.scrollElement, 'touchend').pipe(takeUntil(this.unsubscribe$)).subscribe();
}`

[2022-05-12 11:30] bradleykhan commented on #204
@charkour This works at the expense of re-enabling body scroll behind the modal it seems

[2022-05-12 11:36] charkour commented on #204
@bradleykhan, yeah you're right. This package is a little buggy and it appears to be no longer maintained. My team is looking for a better solution but this is the best we've found for now.

Thanks for your comment!

[2022-05-13 00:54] diachedelic commented on #204
@charkour Did you try https://github.com/tuax/tua-body-scroll-lock?

[2022-05-13 02:16] charkour commented on #204
@diachedelic, hi!

Yeah, we initially tried that too but ran into issues when trying to use multiple locks. Didn't try too long. Seemed to work better than this package in more cases so it's worth a shot in my opinion!

[2022-05-20 23:37] #56 closed

[2022-05-27 02:11] taejs commented on #250
Is there any quick fix for this?

[2022-05-30 06:13] 0x009922 opened #254 "The package is not tree-shakeable due to side-effects"
## Description

`body-scroll-lock` package has side-effects, thus it cannot be fully tree-shaken.

## Reproduction

You can explore tree-shaking sample at [rollup repl](https://rollupjs.org/repl/?version=2.75.3&shareable=JTdCJTIybW9kdWxlcyUyMiUzQSU1QiU3QiUyMm5hbWUlMjIlM0ElMjJtYWluLmpzJTIyJTJDJTIyY29kZSUyMiUzQSUyMmltcG9ydCUyMCcuJTJGYm9keS1zY3JvbGwtbG9jay5lc20nJTVDbiU1Q25jb25zb2xlLmxvZygnaGV5JyklMjI

[2022-05-30 10:44] samsonCao commented on #244
https://github.com/willmcpo/body-scroll-lock/issues/244#issue-1115863641
 this issue solved my problem, very thankful

[2022-06-11 10:45] kosmeln commented on #251
We got the same issue. For me it happens when you have an external mouse connected - MacOS reserves a width for the scroll bar. When you turn off/disconnect the mouse - that width will be released, giving this space back to the page. Scrolling with a Touch Bar trigger the overlay scrollbar that overlaps the page - don't shift it.
What happens when we trigger the scroll lock - it that reserved widt

[2022-06-17 01:14] jordie23 opened #257 "Is this package dead/abandoned?"
No updates since 2021, many open issues. Anyone know if there's a fork or another maintained package?

[2022-06-23 08:44] Kreeg commented on #257
The author himself made the last commit a year ago. It more likely to be abandoned. The good news is we can fork this and do necessary updates by our self.

[2022-07-08 11:07] Brianzchen commented on #257
There's also a bug on ios with a fix that hasn't been merged. So I conclude yes unfortunately

[2022-07-08 14:30] Kreeg commented on #257
@willmcpo @jvitela Hi! Do you have any plans for this project? If no - maybe you should create a team to collaborate on this? I'm sure there are people interested in this.
Yes, technically we can fork to own repo, but if there will be no support for this project from the dev team, it's better to transfer this repo to interested people

[2022-07-08 17:46] jvitela commented on #257
Hi @Kreeg, I am not a maintainer of this library and I am no longer working with it. @willmcpo doesn't seem active on Github since 2021.

[2022-07-11 11:08] sinedoOo commented on #237
Any update here?

[2022-07-29 11:58] kosmeln commented on #257
Could anybody recommend a decent alternative? I've browsed a few, but was unsure there is a bulletproof one - especially with all iOS concerns.

[2022-08-05 10:18] fjeldsoe commented on #257
@kosmeln It's coming to CSS in the near future: https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior

[2022-08-24 16:54] zackees commented on #243
yup same here.

[2022-09-23 11:45] kosmeln commented on #257
@fjeldsoe , thanks a lot!

[2022-09-30 07:39] RoelN commented on #173
Until this is fixed, I'm using @malte1989's solution to apply the proper padding to the fixed element without it being hardcoded to 15px. It's clunky, but works for the probable range of padding:

[code]

[2022-10-07 14:21] sancarr commented on #257
@kosmeln This seems to work well and address all iOS concerns as well: https://github.com/tuax/tua-body-scroll-lock

[2022-10-16 18:48] kalnode opened #260 "Define a custom base element (not body)"
Hello!

Is it possible to define a top-level locking target **_other than_** `body` ?

Context: I use a popular web app framework (for various reasons) which abstracts many things. The end result is the app is completely contained in a child of `body`, therefore any changes this plugin makes to `body` have no effect. Body is literally 100% screen width and height. The actual page content that shou

[2022-10-17 14:13] kalnode commented on #260
In hindsight I realize this isn't actually a problem.

This plugin operating on `body` is fine and desired (to counteract spring effects on mobile devices, for instance). When it comes to other UI layers in the app, then I simply need to manually toggle `overflow` for those areas **_in addition_** to using this plugin. All of that logic should be contained in some custom "lockScrolling" component.

[2022-10-17 14:13] #260 closed, assigned to nobody

[2022-10-17 17:49] alexd3d commented on #251
Hey guys, @TangoPJ @kosmeln
just had the same issue with new 4.0.0-beta. Plugin devs are setting left:0 top: 0 for body on iOS if it's locked , but seems like Safari does not always properly thinks that the width should be 100%. On tablet landscape instead of 1130 width I got only 930px size body container - so the right gap increases with viewport size. So in this case you just need to set for bo

[2022-10-17 21:57] nicoladj77 commented on #243
@Staples1010 @zackees did you find a solution for this?

[2022-10-19 09:19] PyrokineticDarkElf commented on #243
@nicoladj77 Sadly no :(

[2022-10-21 22:42] joshuacurtiss opened #261 "iOS 16 Safari has width/size issues with wide content"
On iOS 16 Safari only, the width of the page will be incorrectly adjusted to be very wide when activating the scroll lock. On a mobile responsive page, this correspondingly causes fonts and other content to rearrange/resize. Interestingly, when deactivating the scroll lock, the content does not return to its original size.

This appears to be a Safari bug but occurs because this package does not s

[2022-10-24 14:17] yokuze commented on #261
@willmcpo For what it's worth, I'm seeing this issue too and #262 fixes it.

[2022-10-28 15:17] plcdnl opened #263 "This fork from vercel seems to fix some issues"
Hi i found this forked version from vercel git that solve some issues ( like the scroll on top after reenable the scroll ). Is possible to merge it in the official one?

https://github.com/vercel/body-scroll-lock

[2022-10-31 10:13] i3web commented on #257
thanks a lot ! it works well.

[2022-11-11 08:34] krutoo commented on #257
It's great but many iOS users still uses old iOS/Safari

Can someone recommend alternative library that works with older and newer iOS Safari?